@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    width: 180px;
    margin-left: 168px;
    margin-bottom: 65px;
    margin-top: 18px;
    align-items: center;
  }

  .return-button {
    margin-right: 18px;
    margin-top: auto;
    margin-bottom: auto;
    width: 16px;
    height: 16px;
  }

  .return-to-main span {
    font-size: 15px;
    line-height: 20px;
    color: rgba(27, 31, 59, 0.65);
  }

  .wrapper {
    min-height: calc(100% - 150px);
  }

  .content {
    flex: 1;
  }

  .main-top-content {
    flex: 1 0 auto;
    display: flex;
    margin-left: 202px;
    margin-top: 65px;
  }

  .footer {
    flex: 0 0 auto;
  }

  .profile-navigation {
    width: 238px;
    margin-right: 60px;
    margin-top: 31px;
    margin-bottom: 600px;
  }

  .profile-navigation li {
    font-size: 20px;
    line-height: 177.69%;
    margin-bottom: 16px;
  }

  .profile-navigation li:last-child {
    margin-bottom: 0;
  }

  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
  }

  .description {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
  }

  .explanations {
    display: flex;
    list-style: none;
    margin-top: 45px;
    padding-left: 27px;
  }

  .explanations-li {
    max-width: 158px;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #535353;
  }

  .explanations-li {
    margin-right: 118px;
  }

  .card {
    padding-left: 27px;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    max-width: 1070px;
    min-height: 99px;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
    align-items: center;
  }

  .denied {
    background: #E0E0D6;
  }

  .information-description {
    display: flex;
    margin-left: 140px;
    margin-top: 15px;
    position: relative;
    align-items: center;
  }

  .information-description img {
    width: 26px;
    height: 26px;
  }

  .tooltip {
    visibility: hidden;
    width: 490px;
    background: #FFFFD7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    /* Расположение под блоком .information-description */
    left: 46%;
    transform: translateX(-50%);
    opacity: 0;
    transition: ease-in-out 0.3s;
  }

  .tooltip-text {
    width: 350px;
    font-size: 15px;
    font-weight: 300;
    padding: 19px 60px 19px 60px;
  }

  .information-description:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .highlighted-text {
    text-decoration: underline 1px;
    cursor: pointer;
    font-size: 22px;
    margin-right: 22px;
  }

  .card-li {
    margin-bottom: 30px;
  }

  .card-title {
    width: 165px;
    padding-top: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    word-wrap: break-word;
  }

  .adress {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
  }

  .second-block__card {
    position: absolute;
    margin-top: -1.9em;
    top: 50%;
    right: 25px;
  }

  .number {
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    padding-top: 28px;
  }

  .third-block__card {
    margin-left: 235px;
  }

  .card-li:last-child {
    margin-bottom: 100px;
  }

  .progress-information__btn {
    cursor: pointer;
    display: flex;
    width: 239.62px;
    height: 54px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    padding: 13px 63px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: rgba(27, 31, 59, 0.4);
  }

  .progress-information__btn:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .progress-information__btn:active,
  .progress-information__btn:active {
    background: #8EBD9D !important;
  }
}

@media screen and (max-width: 1450px) {
  .return-to-main {
    width: calc(0.75*180px);
    margin-left: calc(0.75*168px);
    margin-bottom: calc(0.83*65px);
    margin-top: calc(0.83*18px);
  }

  .return-button {
    margin-right: calc(0.75*18px);
    width: calc(0.75*16px);
    height: calc(0.83*16px);
  }

  .return-to-main span {
    font-size: calc(0.75*15px);
    line-height: calc(0.83*20px);
  }

  .main-top-content {
    margin-left: calc(0.75*202px);
    margin-top: calc(0.83*65px);
  }

  .profile-navigation {
    width: calc(0.75*238px);
    margin-right: calc(0.75*60px);
    margin-top: calc(0.83*31px);
    margin-bottom: calc(0.83*600px);
  }

  .profile-navigation li {
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
    margin-bottom: calc(0.83*16px);
  }

  .title {
    font-size: calc(0.75*28px);
    line-height: calc(0.83*38px);
    margin-bottom: calc(0.83*11px);
  }

  .description {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*43px);
  }

  .explanations {
    margin-top: calc(0.83*45px);
    padding-left: calc(0.75*27px);
  }

  .explanations-li {
    max-width: calc(0.75*158px);
    font-size: calc(0.75*15px);
    line-height: calc(0.83*27px);
  }

  .explanations-li {
    margin-right: calc(0.75*118px);
  }

  .card {
    padding-left: calc(0.75*27px);
    padding-bottom: calc(0.83*15px);
    max-width: calc(0.75*1070px);
    min-height: calc(0.83*99px);
  }

  .information-description {
    margin-left: calc(0.75*140px);
    margin-top: calc(0.83*15px);
  }

  .information-description img {
    width: calc(0.83*26px);
    height: calc(0.83*26px);
  }

  .tooltip {
    width: calc(0.75*490px);
    top: calc(100% + calc(0.83*10px));
    left: 46%;
  }

  .tooltip-text {
    width: calc(0.75*350px);
    font-size: calc(0.75*15px);
    padding: calc(0.83*19px) calc(0.75*60px) calc(0.83*19px) calc(0.75*60px);
  }

  .highlighted-text {
    font-size: calc(0.75*22px);
    margin-right: calc(0.75*22px);
  }

  .card-li {
    margin-bottom: calc(0.83*30px);
  }

  .card-title {
    width: calc(0.75*165px);
    padding-top: calc(0.83*16px);
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
  }

  .adress {
    font-size: calc(0.75*15px);
    line-height: calc(0.83*27px);
  }

  .second-block__card {
    margin-top: calc(0.83*-1.9em);
    right: calc(0.75*25px);
  }

  .number {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*43px);
    padding-top: calc(0.83*28px);
  }

  .third-block__card {
    margin-left: calc(0.75*235px);
  }

  .card-li:last-child {
    margin-bottom: calc(0.83*100px);
  }

  .progress-information__btn {
    width: calc(0.75*239.62px);
    height: calc(0.83*54px);
    padding: calc(0.83*13px) calc(0.75*63px);
    font-size: calc(0.75*15px);
    line-height: calc(0.83*28px);
  }
}

@media screen and (max-width: 1370px) {
  .return-to-main {
    width: calc(0.71*180px);
    margin-left: calc(0.71*168px);
    margin-bottom: calc(0.71*65px);
    margin-top: calc(0.71*18px);
  }

  .return-button {
    margin-right: calc(0.71*18px);
    width: calc(0.71*16px);
    height: calc(0.71*16px);
  }

  .return-to-main span {
    font-size: calc(0.71*15px);
    line-height: calc(0.71*20px);
  }

  .main-top-content {
    margin-left: calc(0.71*202px);
    margin-top: calc(0.71*65px);
  }

  .profile-navigation {
    width: calc(0.71*238px);
    margin-right: calc(0.71*60px);
    margin-top: calc(0.71*31px);
    margin-bottom: calc(0.71*600px);
  }

  .profile-navigation li {
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
    margin-bottom: calc(0.71*16px);
  }

  .title {
    font-size: calc(0.71*28px);
    line-height: calc(0.71*38px);
    margin-bottom: calc(0.71*11px);
  }

  .description {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*43px);
  }

  .explanations {
    margin-top: calc(0.71*45px);
    padding-left: calc(0.71*27px);
  }

  .explanations-li {
    max-width: calc(0.71*158px);
    font-size: calc(0.71*15px);
    line-height: calc(0.71*27px);
  }

  .explanations-li {
    margin-right: calc(0.71*118px);
  }

  .card {
    padding-left: calc(0.71*27px);
    padding-bottom: calc(0.71*15px);
    max-width: calc(0.71*1070px);
    min-height: calc(0.71*99px);
  }

  .information-description {
    margin-left: calc(0.71*140px);
    margin-top: calc(0.71*15px);
  }

  .information-description img {
    width: calc(0.71*26px);
    height: calc(0.71*26px);
  }

  .tooltip {
    width: calc(0.71*490px);
    top: calc(100% + calc(0.71*10px));
    left: 46%;
  }

  .tooltip-text {
    width: calc(0.71*350px);
    font-size: calc(0.71*15px);
    padding: calc(0.71*19px) calc(0.71*60px) calc(0.71*19px) calc(0.71*60px);
  }

  .highlighted-text {
    font-size: calc(0.71*22px);
    margin-right: calc(0.71*22px);
  }

  .card-li {
    margin-bottom: calc(0.71*30px);
  }

  .card-title {
    width: calc(0.71*165px);
    padding-top: calc(0.71*16px);
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
  }

  .adress {
    font-size: calc(0.71*15px);
    line-height: calc(0.71*27px);
  }

  .second-block__card {
    margin-top: calc(0.71*-1.9em);
    right: calc(0.71*25px);
  }

  .number {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*43px);
    padding-top: calc(0.71*28px);
  }

  .third-block__card {
    margin-left: calc(0.71*235px);
  }

  .card-li:last-child {
    margin-bottom: calc(0.71*100px);
  }

  .progress-information__btn {
    width: calc(0.71*239.62px);
    height: calc(0.71*54px);
    padding: calc(0.71*13px) calc(0.71*63px);
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);

  }
}