.main-top-content {
  display: flex;
  margin-left: 202px;
  margin-top: 65px;
}
.profile-navigation {
  width: 238px;
  margin-right: 60px;
  margin-top: 31px;
}
.profile-navigation li {
  font-size: 20px;
  line-height: 177.69%;
  margin-bottom: 16px;
}

.profile-navigation li:last-child {
  margin-bottom: 0;
}

.title{
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 11px;
}

.description{
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
}

.explanations{
  display: flex;
  list-style: none;
  margin-top: 45px;
  padding-left: 27px;
}

.explanations-li{
  max-width: 158px;
  font-weight: 400;
  font-size: 15px;
  line-height:27px;
  color: #535353;
}

.explanations-li{
  margin-right: 118px;
}

.card{
  display: flex;
  width: 1070px;
  height: 99px;
  background: rgba(190, 218, 195, 0.7);
  border-radius: 20px;
}

.card-li{
  margin-bottom: 30px;
}

.card-title{
  padding-top: 16px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.adress{
  font-weight: 400;
  font-size: 15px;
  line-height:27px;
  padding-left: 27px;
}

.second-block__card{
  margin-left: 98px;
}

.number{
  font-weight: 400;
  font-size: 24px;
  line-height:43px;
  padding-top: 28px;
}

.third-block__card{
  margin-left: 235px;
}

.card-li:last-child{
  margin-bottom: 100px;
}
