<div class="filter-container">
  <h1>Фильтры</h1>

  <div class="filter">

    <div class="filter-labels filter-district">
      <h2>Район</h2>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="akadem" name="district" value="akadem">
        <label for="akadem">Академический</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="VIZ" name="district" value="VIZ">
        <label for="VIZ">Верх-Исетский</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="JD" name="district" value="JD">
        <label for="JD">Железнодорожный</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="Kirovski" name="district"
          value="Kirovski">
        <label for="Kirovski">Кировский</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="Leninski" name="district" value="Leninski"
          [(ngModel)]="a">
        <label for="Leninski">Ленинский</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="Octyabrski" name="district"
          value="Octyabrski">
        <label for="Octyabrski">Октябрьский</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="ORDJ" name="district" value="ORDJ">
        <label for="ORDJ">Орджоникидзевский</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="Chkalovski" name="district"
          value="Chkalovski">
        <label for="Chkalovski">Чкаловский</label>
      </div>

    </div>

    <div class="filter-labels filter-type-coworking">
      <h2 class="coworking-type">Вид коворкинга</h2>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="office" name="type" value="office">
        <label for="office">Рабочий зал</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="anticafe" name="type" value="anticafe">
        <label for="anticafe">Антикафе</label>
      </div>

      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_multiple" id="cafe" name="type" value="cafe">
        <label for="cafe">Кафе</label>
      </div>

    </div>

    <div class="filter-labels filter-time">
      <h2 class="coworking-time">Часы работы</h2>


      <div class="radio">
        <input type="radio" class="custom-radio custom-radio_single" id="everytime" name="time" value="everytime">
        <label for="everytime">Круглосуточно</label>
      </div>

      <div class="radio">
        <input type="radio" class="custom-radio custom-radio_single" id="weekdays" name="time" value="weekdays">
        <label for="weekdays">По будням</label>
      </div>

    </div>

    <div class="filter-labels filter-parking">
      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_single" id="parking" name="parking" value="parking">
        <label for="parking">
          <h3>Парковка</h3>
        </label>
      </div>
    </div>

    <div class="filter-labels filter-restzone">
      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_single" id="restzone" name="restzone" value="restzone">
        <label for="restzone">
          <h3>Зона отдыха</h3>
        </label>
      </div>
    </div>

    <div class="filter-labels filter-conference">
      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_single" id="conference" name="conference"
          value="conference">
        <label for="conference">
          <h3>Наличие конференц-зала</h3>
        </label>
      </div>
    </div>

  </div>
</div>