.custom-radio_multiple:checked+label::before {
  background-image: url("..//..//..//assets/img/filter-multiple-checked.svg");
}

.custom-radio_multiple:disabled+label::before {
  background-image: url("..//..//..//assets/img/filter-multiple-default.svg");
}

.custom-radio_multiple+label::before {
  background-image: url("..//..//..//assets/img/filter-multiple-default.svg");
}

.custom-radio_single:checked+label::before {
  background-image: url("..//..//..//assets/img/filter-single-checked.svg");
}

.custom-radio_single:disabled+label::before {
  background-image: url("..//..//..//assets/img/filter-single-default.svg");
}

.custom-radio_single+label::before {
  background-image: url("..//..//..//assets/img/filter-single-default.svg");
}

@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    width: 9.375vw;
    margin-left: 8.75vw;
    margin-bottom: 6.018518518518518vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .wrapper {
    min-height: calc(100vh - 150px);
    /* 150px - отступ сверху футера */
  }

  .main-top-content {
    display: flex;
    margin-left: 10.520833333333334vw;
    margin-bottom: 9.25925925925926vh;
  }

  .profile-navigation {
    width: 12.395833333333334vw;
    margin-right: 3.125vw;
    margin-top: 2.8703703703703702vh;
  }

  .profile-navigation li {
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    margin-bottom: 1.4814814814814816vh;
  }

  .profile-navigation li:last-child {
    margin-bottom: 0;
  }

  .title {
    font-weight: 700;
    font-size: 1.4583333333333333vw;
    line-height: 3.5185185185185186vh;
    margin-bottom: 2.9629629629629632vh;
  }

  .description {
    display: inline-block;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 3.981481481481482vh;
    max-width: 55.729166666666664vw;
    margin-bottom: 2.7777777777777777vh;
  }

  .all-requests-container {
    margin-bottom: 3.2407407407407405vh;
  }

  .all-requests-container button:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .all-requests-container button:active {
    background: #8EBD9D !important;
  }


  .all-requests {
    border-radius: 10px;
    width: 12.1875vw;
    height: 5.0vh;
    text-align: center;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }

  .all-requests p {
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .subtitle {
    font-weight: 600;
    font-size: 1.3541666666666667vw;
    line-height: 3.2407407407407405vh;
    color: #000000;
    margin-bottom: 3.6111111111111107vh;
  }

  .subtitle2 {
    margin-top: 2.7777777777777777vh;
    margin-bottom: 2.2222222222222223vh;
    font-weight: 600;
    font-size: 1.0416666666666665vw;
    line-height: 3.3333333333333335vh;
    color: #000000;
  }

  input {
    cursor: pointer;
    background-color: inherit;
  }

  .email {
    margin-bottom: 3.6111111111111107vh;
  }

  .input-field .big-input {
    width: 23.958333333333336vw;
  }

  .input-date input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .red-text {
    font-size: 0.625vw;
    display: inline-block;
    color: red;
    padding-top: 0.925vh;
  }

  .invalid {
    border: 1px #CC0000 solid;
  }

  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 1.25vw;
    line-height: 177.69%;
  }

  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1.1770833333333335vw;
    height: 2.2222222222222223vh;
    margin-right: 0.9895833333333333vw;
    margin-left: 0.78125vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .card {
    padding-top: 1.7592vh;
    padding-left: 1.5104166666666667vw;
    width: 16.1203125vw;
    height: 18.796296296296298vh;
    background: #D1E5D2;
    border-radius: 20px;
    box-sizing: border-box;
  }

  label {
    font-weight: 600;
    font-size: 1.0416666666666665vw;
    line-height: 3.3333333333333335vh;
    color: #000000;
  }

  .card__description {
    font-weight: 300;
    font-size: 0.78125vw;
    line-height: 2.5vh;
    color: #000000;
    max-width: 14.374999999999998vw;
    margin-top: 1.9444444444444444vh;

  }

  .price {
    font-weight: 600;
    font-size: 1.0416666666666665vw;
    line-height: 3.3333333333333335vh;
    color: #000000;
    margin-left: 5.729166666666666vw;
  }

  .dn {
    display: none;
  }

  .photo-baner-container {
    margin-bottom: 4.166666666666666vh;
  }

  .photo-baner-container p {
    color: #000;
    font-size: 1.0416666666666665vw;
    font-weight: 600;
    line-height: 177.688%;
    margin-bottom: 2.037037037037037vh;
  }

  .photo-baner {
    width: 12.968750000000002vw;
    height: 5.185185185185185vh;
    flex-shrink: 0;
  }

  .photo-baner .btn-photo-baner {
    display: flex;
    align-items: center;
    width: 12.968750000000002vw;
    height: 5.185185185185185vh;
    border-radius: 10px;
    background: #D1E5D2;
  }

  .photo-baner .btn-photo-baner:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .photo-baner .btn-photo-baner:active {
    background: #8EBD9D !important;
  }

  .photo-baner .btn-photo-baner h5 {
    color: #000;
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 177.688%;
    margin-left: 2.2395833333333335vw;
  }

  .photo-baner .btn-photo-baner img {
    width: 0.9375vw;
    height: 1.6666666666666667vh;
    margin-left: 0.9375vw;
  }

  .button-send {
    width: 11.458333333333332vw;
    height: 5.0vh;
    font-size: 0.78125vw;
    background-color: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    color: rgba(27, 31, 59, 0.4);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .popup img {
    width: 28.90625vw;
    height: 27.037037037037038vh;
  }

  .date-container p {
    font-size: 1.0416666666666665vw;
    font-weight: 600;
    line-height: 177.688%;
    margin-bottom: 2.7777777777777777vh;
  }

  .input-containers {
    display: flex;
    gap: 6.5625vw;
    margin-bottom: 6.944444444444445vh;
  }

  .status {
    margin-bottom: 2.7777777777777777vh;
  }

  .status-small {
    width: 11.041666666666666vw;
  }

  .status-small p {
    width: 11.041666666666666vw;
    color: #F00;
    font-size: 0.6770833333333334vw;
    line-height: 2.5925925925925926vh;
    position: absolute;
  }

  .status-big {
    width: 25.0vw;
  }

  .status .position-container {
    width: inherit;
    height: 5.7407407407407405vh;
    padding-left: 0.9895833333333333vw;
    border-radius: 10px;
    background: #E0E0D6;
    box-sizing: border-box;
  }

  .status .position-container .position-label,
  .status .position-container .position-label {
    font-size: 1.0416666666666665vw;
    line-height: 3.2905555555555557vh;
  }

  .status .position-container .status-label,
  .status .position-container .status-label {
    margin-top: 0.4629629629629629vh;
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    white-space: nowrap;
  }

  .position-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.52vw;
    position: relative;
  }

  .type-select__icon {
    padding-right: 1.3020vw;
  }

  .type-select__icon img {
    width: 1.458vw;
    height: 1.458vw;
  }

  .status-label span {
    color: red;
  }

  .red {
    background: rgba(255, 0, 0, 0.40) !important;
  }

  .button-send:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .button-send:active {
    background: #8EBD9D !important;
  }
}