<div class="wrapper">
  <app-header></app-header>

  <div class="return-to-main">
    <a routerLink="/">
      <img src="assets/img/return-button.svg" alt="return-button" class="return-button">
    </a>
    <span>Вернуться к поиску</span>
  </div>

  <div class="main-top-content" *ngIf="user">

    <div class="profile-navigation">
      <ul>
        <li><a routerLink="/favourites">Избранное</a></li>
        <li><a routerLink="/profile">Настройки профиля</a></li>
        <li><a routerLink="/place-settings">Настройки мест</a></li>
        <li style="border-right: solid 2px black ;" *ngIf="user.role_id == 2 || user.role_id == 3"><a
            routerLink="/ad-business/places">Продвижение</a></li>
      </ul>
    </div>

    <form class="place-information" [formGroup]="form" (ngSubmit)="onSubmit()">

      <h1 class="title">
        Продвижение
      </h1>

      <p class="description">
        В данном разделе вы можете приобрести рекламу, которая повысит посещаемость и увеличит просмотры вашего
        заведения
      </p>

      <div class="all-requests-container">
        <button type="button" class="all-requests" routerLink="/ad-business/applications">
          <p>Посмотреть все заявки</p>
        </button>
      </div>

      <h2 class="subtitle">
        Оставьте заявку
      </h2>

      <div>
        <div class="status status-big">
          <div class="position-container"
            [ngClass]="{'invalid': form.get('name')?.invalid && form.get('name')?.touched}">
            <div class="input-field">
              <div class="status-label">Название заведения <span>*</span></div>
              <input class="position-label big-input" id="name" type="text" formControlName="name">
              <label for="name"></label>
            </div>
          </div>
          <span class="red-text" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
            <span *ngIf="form.get('name')?.errors?.['required']">Обязательное поле</span>
          </span>
        </div>

        <div class="status status-big">
          <div class="position-container"
            [ngClass]="{'invalid': form.get('city')?.invalid && form.get('city')?.touched}">
            <div class="input-field">
              <div class="status-label">Город <span>*</span></div>
              <input class="position-label big-input" id="city" type="text" formControlName="city">
              <label for="city"></label>
            </div>
          </div>
          <span class="red-text" *ngIf="form.get('city')?.invalid && form.get('city')?.touched">
            <span *ngIf="form.get('city')?.errors?.['required']">Обязательное поле</span>
          </span>
        </div>

        <div class="status status-big">
          <div class="position-container"
            [ngClass]="{'invalid': form.get('address')?.invalid && form.get('address')?.touched}">
            <div class="input-field">
              <div class="status-label">Адрес <span>*</span></div>
              <input class="position-label big-input" id="address" type="text" formControlName="address">
              <label for="address"></label>
            </div>
          </div>
          <span class="red-text" *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
            <span *ngIf="form.get('address')?.errors?.['required']">Обязательное поле</span>
          </span>
        </div>

      </div>

      <h3 class="subtitle2">
        Количество дней
      </h3>

      <div style="display: flex; margin-bottom: 38px;">
        <div class="card" style="margin-right: 50px;">
          <div class="radio">
            <input type="radio" class="custom-radio custom-radio_single" id="1day" name="price" value="На 1 день"
              formControlName="price" (change)="onStartDateChange()">
            <label for="1day">На 1 день</label>
          </div>
          <p class="card__description">
            Позволит увеличить просмотры вашего заведения и повысит посещаемость
          </p>
          <p class="price">
            99р
          </p>
        </div>

        <div class="card">
          <div class="radio">
            <input type="radio" class="custom-radio custom-radio_single" id="7days" name="price" value="На 7 дней"
              formControlName="price" (change)="onStartDateChange()">
            <label for="7days">На 7 дней</label>
          </div>
          <p class="card__description">
            Позволит увеличить просмотры вашего заведения и повысит посещаемость
          </p>
          <p class="price">
            199р
          </p>
        </div>
      </div>

      <div class="date-container">
        <p>Даты действия рекламы</p>

        <div class="input-containers">
          <div class="status status-small">
            <div class="position-container" [ngClass]="{'red': !flag}">
              <div class="input-date">
                <div class="status-label">Дата начала <span>*</span></div>
                <input type="date" class="datepicker-input position-label" formControlName="date_from"
                  (input)="[onStartDateChange(), checkCountAds()]">
              </div>
              <div class="type-select__icon">
                <img src="assets/img/date-picker.svg" alt="date">
              </div>
            </div>
            <p *ngIf="!flag">К сожалению, выбранная дата уже занята. Введите другую</p>
          </div>

          <div class="status status-small">
            <div class="position-container">
              <div class="input-date">
                <div class="status-label">Дата окончания <span>*</span></div>
                <div class="position-label">{{ date_to | date: 'dd.MM.yyyy' }}</div>
                <div class="position-label" style="opacity: 0;" *ngIf="!date_to">.</div>
              </div>
              <div class="type-select__icon">
                <img src="assets/img/date-picker.svg" alt="date">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="status status-big">
        <div class="position-container"
          [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}">
          <div class="input-field">
            <div class="status-label">Электронная почта <span>*</span></div>
            <input class="position-label big-input" id="email" type="text" formControlName="email">
            <label for="email"></label>
          </div>
        </div>
        <span class="red-text" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          <span *ngIf="form.get('email')?.errors?.['required']">Обязательное поле</span>
        </span>
      </div>

      <div class="photo-baner-container">
        <p>Прикрепите Ваш рекламный банер размера 970х300px в формате svg.</p>

        <div class="photo-baner">
          <input id="banner" class="dn" type="file" name="banner" (change)="onFileUpload($event)" #banner>
          <label for="banner"></label>
          <button class="btn-photo-baner" type="button" (click)="triggerClick()">
            <h5>Прикрепить файл</h5>
            <img src="assets/img/upload-file.svg" alt="upload-file">
          </button>
        </div>

        <p *ngIf="banner.files && banner.files.length > 0">{{ banner.files[0].name }}</p>
      </div>
      <button class="button-send" type="submit" [disabled]="form.invalid || form.disabled || !isFileUploaded || !flag"
        (click)="[onClick(), showPopupAndRedirect()]">
        <!-- Доделать вывод плохого сообщения -->
        Отправить заявку
      </button>

      <div class="overlay" *ngIf="showPopup"></div>

      <div class="popup" *ngIf="showPopup">
        <img src="../../../assets/img/check-letter.svg" alt="Письмо успшно отправлено">
      </div>

    </form>

  </div>

</div>
<app-footer></app-footer>