@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    margin-left: 8.75vw;
    margin-bottom: 50px;
    margin-top: 18px;
    align-items: center;
  }

  .return-button {
    margin-right: 18px;
    margin-top: auto;
    margin-bottom: auto;
    width: 16px;
    height: 16px;
  }

  .return-to-main span {
    font-size: 15px;
    line-height: 20px;
    color: rgba(27, 31, 59, 0.65);
  }

  .content-container {
    margin-left: 363px;
  }

  .content-container h1 {
    margin-left: 240px;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 17px;
  }

  .content-container h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 158px;
  }

  .banners .banner {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .banners .banner img {
    width: 379px;
    height: 328px;
    border-radius: 10px;
  }

  .banners .banner .ended {
    margin-left: 241px;
    font-size: 24px;
    font-weight: 600;
    line-height: 177.688%;
    margin-right: 251px;
  }

  .banners .banner .dates {
    margin-left: 196px;
    margin-right: 197px;
    font-size: 24px;
    line-height: 177.688%;
  }

  .banners .banner .delete-btn {
    width: 163px;
    height: 54px;
    border-radius: 10px;
    background: #BED2C1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
  }

  .banners .banner .delete-btn:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .banners .banner .delete-btn:active {
    background: #8EBD9D !important;
  }

  .banners .banner .ongoing {
    background: #E0E0D6;
  }

  .header-container {
    display: flex;
    gap: 629px;
  }

  .status {
    width: 280px;
  }

  .status .position-container {
    border: none;
    width: 280px;
    height: 54px;
    padding-left: 19px;
    border-radius: 10px;
    background: #E0E0D6;
    box-sizing: border-box;
  }

  .status .position-container .position-label,
  .status .position-container .position-label {
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
  }

  .status .position-container .status-label,
  .status .position-container .status-label {
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 15px;
    font-weight: 600;
  }

  .position-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.52vw;
    position: relative;
  }

  .type-select__icon {
    padding-right: 25px;
    transition: transform 0.3s linear;
  }

  .type-select--active .type-select__dropdown {
    display: inline-block;
    opacity: 1;
  }

  .type-select--active .type-select__icon {
    transform: rotateX(180deg);
  }

  .position-dropdown {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    /* padding: 0.926vh 0; */
    width: 100%;
    transition: opacity 0.2s ease-out, height 0.2s ease-out;
    height: 110px;
  }

  .position-dropdown.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .position-option {
    padding: 1.11vh 1.04vw;
    cursor: pointer;
    font-size: 0.834vw;
    font-weight: 400;
    line-height: 1.85vh;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .position-option:hover {
    opacity: 0.5;
  }

}