@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    margin-left: 8.75vw;
    margin-bottom: 4.62962962962963vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .content-container {
    margin-left: 18.90625vw;
  }

  .content-container h1 {
    margin-left: 12.5vw;
    font-size: 1.4583333333333333vw;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.574074074074074vh;
  }

  .content-container h2 {
    font-size: 1.4583333333333333vw;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14.629629629629628vh;
  }

  .banners .banner {
    display: flex;
    align-items: center;
    margin-bottom: 9.25925925925926vh;
  }

  .banners .banner img {
    width: 19.739583333333332vw;
    height: 30.37037037037037vh;
    border-radius: 10px;
  }

  .banners .banner .ended {
    margin-left: 12.552083333333334vw;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 3.611vh;
    margin-right: 13.072916666666668vw;
  }

  .banners .banner .dates {
    margin-left: 10.208333333333334vw;
    margin-right: 10.260416666666666vw;
    font-size: 1.25vw;
    line-height: 3.611vh;
  }

  .banners .banner .delete-btn {
    width: 8.489583333333334vw;
    height: 5.0vh;
    border-radius: 10px;
    background: #BED2C1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .banners .banner .delete-btn:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .banners .banner .delete-btn:active {
    background: #8EBD9D !important;
  }

  .banners .banner .ongoing {
    background: #E0E0D6;
  }

  .header-container {
    display: flex;
    gap: 32.7604vw;
  }

  .status {
    width: 14.583333333333334vw;
  }

  .status .position-container {
    border: none;
    width: 14.583333333333334vw;
    height: 5.0vh;
    padding-left: 0.9895833333333333vw;
    border-radius: 10px;
    background: #E0E0D6;
    box-sizing: border-box;
  }

  .status .position-container .position-label,
  .status .position-container .position-label {
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .status .position-container .status-label,
  .status .position-container .status-label {
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
  }

  .position-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.52vw;
    position: relative;
  }

  .type-select__icon {
    padding-right: 1.30208vw;
    transition: transform 0.3s linear;
  }

  .type-select--active .type-select__dropdown {
    display: inline-block;
    opacity: 1;
  }

  .type-select--active .type-select__icon {
    transform: rotateX(180deg);
  }

  .position-dropdown {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    margin-top: 0.4629629629629629vh;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    /* padding: 0.926vh 0; */
    width: 100%;
    transition: opacity 0.2s ease-out, height 0.2s ease-out;
    height: 10.185185185185185vh;
  }

  .position-dropdown.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .position-option {
    padding: 1.11vh 1.04vw;
    cursor: pointer;
    font-size: 0.834vw;
    font-weight: 400;
    line-height: 1.85vh;
    display: flex;
    gap: 0.5208vw;
    align-items: center;
  }

  .position-option:hover {
    opacity: 0.5;
  }
}