@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    width: 9.375vw;
    margin-left: 8.75vw;
    margin-bottom: 6.018518518518518vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .wrapper {
    min-height: calc(100vh - 150px);
    /* 150px - отступ сверху футера */
  }

  .main-top-content {
    display: flex;
    margin-left: 10.520833333333334vw;
    margin-bottom: 9.25925925925926vh;
  }

  .profile-navigation {
    width: 12.395833333333334vw;
    margin-right: 3.125vw;
    margin-top: 2.8703703703703702vh;
  }

  .profile-navigation li {
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    margin-bottom: 1.4814814814814816vh;
  }

  .profile-navigation li:last-child {
    margin-bottom: 0;
  }

  .title {
    font-weight: 700;
    font-size: 1.4583333333333333vw;
    line-height: 3.5185185185185186vh;
    margin-bottom: 2.9629629629629632vh;
  }

  .your-places {
    margin-bottom: 5.277777777777778vh;
  }

  .description {
    display: inline-block;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 3.981481481481482vh;
    max-width: 55.729166666666664vw;
    margin-bottom: 2.7777777777777777vh;
  }

  .all-requests-container {
    margin-bottom: 9.074074074074074vh;
  }

  .all-requests-container button:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .all-requests-container button:active {
    background: #8EBD9D !important;
  }


  .all-requests {
    border-radius: 10px;
    width: 12.1875vw;
    height: 5.0vh;
    text-align: center;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }

  .all-requests p {
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .cards {
    margin-bottom: 13.88888888888889vh;
  }

  .cards .card-li {
    width: 55.729166666666664vw;
    height: 9.166666666666666vh;
    margin-bottom: 2.7777777777777777vh;
  }

  .cards .card {
    height: inherit;
    display: flex;
    align-items: center;
    background: rgba(190, 218, 195, 0.70);
    border-radius: 20px;
  }

  .cards .denied {
    background: #E0E0D6;
  }

  .cards .approved {
    background: #E0E0D6;
  }

  .card .first-block__card {
    height: inherit;
    padding-top: 1.481481vh;
    padding-left: 1.40625vw;
    box-sizing: border-box;
  }

  .card-title {
    font-size: 1.25vw;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.2962962962962963vh;
  }

  .adress {
    font-size: 0.78125vw;
  }

  .third-block_card {
    margin-left: auto;
    margin-right: 1.875vw;
  }

  .third-block_card .watch-application {
    width: 12.5vw;
    height: 5.0vh;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }

  .third-block_card .watch-application:hover {
    background-color: #EDFAED;
  }

  .third-block_card .watch-application:active {
    background: #8EBD9D !important;
  }

  .third-block_card .watch-application span {
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }
}