<app-header></app-header>

<div class="return">
  <a routerLink='/main'>
    <img src="assets/img/return-button.svg" alt="return-button">
    Вернуться к списку
  </a>
</div>

<div class="information">
  <div class="main-information">
    <div class="title-container">
      <p class="title">{{coworking.name}}</p>
      <img src="assets/img/good-place.svg" width="22" height="22" alt="good-place" class="img-good-place"
        [ngStyle]="{ visibility: coworking.rating < 3.5 ? 'hidden' : '' }">
      <p class="coworking-rating">{{coworking.rating}}</p>
      <img src="assets/img/star.svg" width="22" height="21.02" alt="star" class="img-star">
    </div>

    <div class="photo-container">

      <div>
        <div class="photo">
          <img src="{{coworking.photo[0]}}" class="first-photo" alt="img" width=950px height=522px>
        </div>
      </div>

      <div>
        <div class="photo">
          <img src="{{coworking.photo[1]}}" class="second-photo" onerror="this.src='assets/img/logo.svg'" alt="img"
            width=310px height=250px>
        </div>

        <div class="photo">
          <img src="{{coworking.photo[2]}}" class="third-photo" onerror="this.src='assets/img/logo.svg'" alt="img"
            width=310px height=250px>
        </div>

      </div>

    </div>

    <div class="flex-description">
      <div class="left-side">
        <p class="coworking-description">{{coworking.description}}</p>

        <div class="coworking-map">
          <p>
            Отображение на карте
          </p>

          <div class="map">
            <img src="assets/img/map.png" alt="map">
          </div>
        </div>

      </div>

      <div class="right-side">

        <div class="coworking-adress-container">
          <img src="assets/img/coworking-adress.svg" alt="coworking-adress">
          <p> {{coworking.address}} </p>
        </div>

        <div class="coworking-time-container">
          <img src="assets/img/coworking-time.svg" alt="coworking-time">
          <p>{{coworking.time}}</p>
        </div>

        <div class="tags">
          <p>Удобства</p>
          <div class="coworking-tags">
            <div class="coworking-tag" *ngFor="let tag of tags">{{tag}}</div>
          </div>
        </div>

        <div class="contacts">
          <p>Контакты</p>
          <div class="phone-information">
            <img src="assets/img/phone.svg" alt="phone" width="22.5" height="27">
            <span>{{coworking.company_phone}}</span>
          </div>
        </div>

      </div>

    </div>

    <form class="add-review" [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="reviews-title">Отзывы</p>
      <ngx-star-rating [id]="'rating'" class="add-rating" formControlName="rating"></ngx-star-rating>
      <div class="review-input-field">
        <input id="review" placeholder="Отзыв" type="text" formControlName="description">
        <label for="review"></label>
      </div>
      <button class="btn-review" type="submit" [disabled]="form.invalid || form.disabled">Оставить отзыв</button>
      <p>Form Value: {{form.value | json}}</p>
    </form>

    <div class="reviews">
      <div *ngFor="let review of allReviews">
        <div class="review" *ngIf="review.place_id === coworking.id">
          <img src="assets/img/star.svg" alt="avatar" class="avatar" width="70" height="70">
          <div class="review-title">
            <div class="review-name-date">
              <span class="review-name">Мария</span>
              <time class="review-time"> {{review.created_at}} </time>
            </div>
            <div class="review-rating">
              <ngx-star-rating [id]="'coworking'" [disabled]="true"></ngx-star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="line"></div>

  <app-footer></app-footer>
