@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    width: 9.375vw;
    margin-left: 8.75vw;
    margin-bottom: 6.018518518518518vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .line {
    position: absolute;
    height: 64.81481481481481vh;
    left: 65.9744791666vw;
    top: 83.33333333vh;
    border: 1px solid #DDDFE0;
    box-shadow: inset 0px -1px 0px rgba(221, 223, 224, 0.7);
  }

  .return {
    margin-left: 8.541666666666666vw;
    margin-top: 1.6666666666666667vh;
    margin-bottom: 6.296296296296296vh;
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .return img {
    padding-right: 0.729166vw;
  }

  .information {
    margin-left: 14.583333333333334vw;
  }

  .main-information {
    width: 70.83333333333334vw;
    margin-bottom: 3.981481481481482vh;
  }

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 4.074074074074074vh;
  }

  .title {
    font-weight: 700;
    font-size: 1.4583333333333333vw;
    line-height: 3.5185185185185186vh;
    color: #000000;
    margin-right: 0.26041666666666663vw;
  }

  .img-good-place {
    margin-right: 1.40625vw;
    margin-top: 0.1851851851851852vh;
    width: 1.1458333333333333vw;
    height: 2.037037037037037vh;
  }

  .img-star {
    width: 1.1458333333333333vw;
    height: 1.9462962962962964vh;
  }

  .img-coworking-address {
    width: 1.0416666666666665vw;
    height: 2.2222222222222223vh;
  }

  .img-coworking-time {
    width: 1.1458333333333333vw;
    height: 2.037037037037037vh;
  }

  .img-coworking-phone {
    width: 1.171875vw;
    height: 2.5vh;
  }

  .coworking-rating {
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 177.69%;
    margin-right: 0.5729166666666666vw;
  }

  .photo-container {
    display: flex;
    width: 68.75vw;
    height: 48.333333333333336vh;
    margin-bottom: 5.092592592592593vh;
  }

  .first-photo {
    width: 49.47916666666667vw;
    height: 48.333333333333336vh;
    border-radius: 20px;
  }

  .second-photo {
    margin-left: 2.7083333333333335vw;
    width: 16.145833333333336vw;
    height: 23.14814814814815vh;
    border-radius: 20px;
    margin-bottom: 1.9444444444444444vh;
  }

  .third-photo {
    margin-left: 2.7083333333333335vw;
    width: 16.145833333333336vw;
    height: 23.14814814814815vh;
    border-radius: 20px;
  }

  .first-photo img {
    border-radius: 20px;
  }

  .flex-description {
    display: flex;
    gap: 2.8125vw;
  }

  .left-side {
    width: 50.10416666666667vw;
  }

  .coworking-description {
    font-weight: 300;
    font-size: 1.1458333333333333vw;
    line-height: 177.69%;
    margin-bottom: 0.4629629629629629vh;
  }

  .coworking-map p {
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 3.0555555555555554vh;
    margin-bottom: 3.5185185185185186vh;
  }

  .coworking-map .map {
    margin-bottom: 5.833333333333333vh;
  }

  .map-container {
    width: 49.47916666666667vw;
    height: 52.87037037037037vh;
  }

  .right-side {
    width: 17.96875vw;
    margin-top: 3.981481481481482vh;
  }

  .coworking-adress-container {
    display: flex;
    gap: 1.3020833333333335vw;
    align-items: center;
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    margin-bottom: 1.3888888888888888vh;
  }

  .coworking-time-container {
    display: flex;
    gap: 1.25vw;
    align-items: center;
    font-weight: 400;
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    margin-bottom: 6.481481481481481vh;
  }

  .tags {
    margin-bottom: 6.481481481481481vh;
  }

  .tags p {
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 3.0555555555555554vh;
    margin-bottom: 2.5vh;
  }

  .coworking-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.78125vw;
  }

  .coworking-tag {
    text-align: center;
    width: fit-content;
    padding: 1px 1.041666vw;
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    background: #E0E0D6;
    border-radius: 20px;
  }

  .contacts p {
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 3.0555555555555554vh;
    margin-bottom: 3.425925925925926vh;
  }

  .phone-information {
    display: flex;
    gap: 1.171875vw;
    align-items: center;
  }

  .phone-information span {
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
  }

  .add-review {
    width: 59.739583333333336vw;
    margin-bottom: 2.4074074074074074vh;
  }

  .reviews-title {
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 3.0555555555555554vh;
    margin-bottom: 2.4074074074074074vh;
  }

  .add-rating {
    display: flex;
  }

  .review-input-field {
    width: 59.895833333333336vw;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 10px;
    height: 5.7407407407407405vh;
    margin-bottom: 3.2407407407407405vh;
    margin-top: 2.5vh;
  }

  .review-input-field input {
    width: calc(100% - 1.04166vw);
    height: 100%;
    font-weight: 300;
    font-size: 1.1458333333333333vw;
    line-height: 177.69%;
    background: inherit;
    border-radius: 10px;
    padding-left: 1.0416666666666665vw;
  }

  .btn-review {
    width: 13.020833333333334vw;
    height: 5.0vh;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-left: 46.875vw;
    font-weight: 600;
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    color: rgba(27, 31, 59, 0.6);
  }

  .btn-review:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .btn-review:active {
    background: #8EBD9D !important;
  }

  .sorting-reviews {
    display: flex;
    margin-bottom: 3.425925925925926vh;
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    align-items: center;
  }

  .sorting-reviews b {
    margin-right: 1.1979166666666667vw;
    color: #000000;
  }

  .sorting-reviews .sort-by-date {
    position: relative;
    width: 5.208333333333334vw;
    margin-right: 1.5104166666666667vw;
  }

  .sorting-reviews .sort-by-date span:hover {
    opacity: 50%;
  }

  .sorting-reviews .sort-by-rating span:hover {
    opacity: 50%;
  }

  .arrow {
    position: absolute;
    top: 1.0185185185185vh;
    vertical-align: middle;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .sorting-reviews .sort-by-date span {
    margin-right: 0.26041666666666663vw;
  }

  .sorting-reviews .sort-by-rating {
    position: relative;
  }

  .sorting-reviews .sort-by-rating span {
    margin-right: 0.26041666666666663vw;
  }

  .blue-button {
    color: #4DA8F7;
  }

  .review {
    margin-bottom: 4.722222222222222vh;
  }

  .review-title-container {
    display: flex;
    margin-bottom: 0.9259259259259258vh;
  }

  .review .avatar {
    margin-right: 1.40625vw;
    width: 3.6458333333333335vw;
    height: 6.481481481481481vh;
  }

  .review-title {
    position: relative;
    min-width: 17.1875vw;
  }

  .review-name-date {
    display: flex;
    align-items: center;
    margin-bottom: 0.4629629629629629vh;
  }

  .review-name {
    font-weight: 600;
    font-size: 1.1458333333333333vw;
    line-height: 2.7777777777777777vh;
    margin-right: 0.4166666666666667vw;
  }

  .review-time {
    padding-top: 0.462962vh;
    font-size: 0.78125vw;
    line-height: 177.69%;
    color: #535353;
  }

  .review-rating {}

  .rating {
    width: 8.385416666666666vw;
    height: 2.2222222222222223vh;
  }

  .review-description {
    width: 58.333333333333336vw;
    font-size: 1.1458333333333333vw;
    line-height: 177.69%;
    word-wrap: break-word;
  }

  .review-description p {
    font-weight: 300;
  }

  .review-description button {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: #4DA8F7;
  }

  /* NEW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  .answer-submit-container {
    display: flex;
    flex-direction: column;
    width: 59.739583333333336vw;
  }

  .answer-btn {
    width: 9.84375vw;
    height: 5.0vh;
    border-radius: 10px;
    background: #BEDAC3;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    color: #FFF;
    font-family: Open Sans;
    font-size: 0.78125vw;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .answer-btn:hover,
  .delete-btn:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
    color: black;
  }

  .answer-btn:active,
  .delete-btn:active {
    background: #8EBD9D !important;
  }

  .answer-container {
    margin-top: 4.62962962962963vh;
    margin-bottom: 1.3888888888888888vh;
    width: 59.739583333333336vw;
    height: 17.77777777777778vh;
    border-radius: 10px;
    background: rgba(190, 218, 195, 0.70);
  }

  .answer-container textarea {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: transparent;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1458333333333333vw;
    font-weight: 300;
    line-height: 177.688%;
    font-family: Open Sans;
  }

  .submit-answer-btn {
    width: 9.84375vw;
    height: 5.0vh;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);

    color: #919298;
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
    margin-left: auto;
  }

  .submit-answer-btn:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .submit-answer-btn:active {
    background: #8EBD9D !important;
  }

  .delete-btn {
    margin-left: 1.5625vw;
    width: 9.84375vw;
    height: 5.0vh;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    color: #919298;
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }
}