@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    width: 180px;
    margin-left: 168px;
    margin-bottom: 65px;
    margin-top: 18px;
    align-items: center;
  }

  .return-button {
    margin-right: 18px;
    margin-top: auto;
    margin-bottom: auto;
    width: 16px;
    height: 16px;
  }

  .return-to-main span {
    font-size: 15px;
    line-height: 20px;
    color: rgba(27, 31, 59, 0.65);
  }

  .line {
    position: absolute;
    height: 700px;
    left: 1266.71px;
    top: 900px;
    border: 1px solid #DDDFE0;
    box-shadow: inset 0px -1px 0px rgba(221, 223, 224, 0.7);
  }

  .return {
    margin-left: 164px;
    margin-top: 18px;
    margin-bottom: 68px;
    font-size: 15px;
    line-height: 20px;
    color: rgba(27, 31, 59, 0.65);
  }

  .return img {
    padding-right: 14px;
  }

  .information {
    margin-left: 280px;
  }

  .main-information {
    width: 1360px;
    margin-bottom: 43px;
  }

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
  }

  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    margin-right: 5px;
  }

  .img-good-place {
    margin-right: 27px;
    width: 22px;
    height: 22px;
  }

  .img-star {
    width: 22px;
    height: 21.02px;
  }

  .img-coworking-address {
    width: 20px;
    height: 24px;
  }

  .img-coworking-time {
    width: 22px;
    height: 22px;
  }

  .img-coworking-phone {
    width: 22.5px;
    height: 27px;
  }

  .coworking-rating {
    font-weight: 400;
    font-size: 24px;
    line-height: 177.69%;
    margin-right: 11px;
  }

  .photo-container {
    display: flex;
    width: 1320px;
    height: 522px;
    margin-bottom: 55px;
  }

  .first-photo {
    width: 950px;
    height: 522px;
    border-radius: 20px;
  }

  .second-photo {
    margin-left: 52px;
    width: 310px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 21px;
  }

  .third-photo {
    margin-left: 52px;
    width: 310px;
    height: 250px;
    border-radius: 20px;
  }

  .first-photo img {
    border-radius: 20px;
  }

  .flex-description {
    display: flex;
    gap: 54px;
  }

  .left-side {
    width: 962px;
  }

  .coworking-description {
    font-weight: 300;
    font-size: 22px;
    line-height: 177.69%;
    margin-bottom: 5px;
  }

  .coworking-map p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 38px;
  }

  .coworking-map .map {
    margin-bottom: 63px;
  }

  .map-img {
    width: 838px;
    height: 571px;
  }

  .right-side {
    width: 345px;
    margin-top: 43px;
  }

  .coworking-adress-container {
    display: flex;
    gap: 25px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 177.69%;
    margin-bottom: 15px;
  }

  .coworking-time-container {
    display: flex;
    gap: 24px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 177.69%;
    margin-bottom: 70px;
  }

  .tags {
    margin-bottom: 70px;
  }

  .tags p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 27px;
  }

  .coworking-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .coworking-tag {
    text-align: center;
    width: fit-content;
    padding: 1px 20px;
    font-size: 20px;
    line-height: 177.69%;
    background: #E0E0D6;
    border-radius: 20px;
  }

  .contacts p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 37px;
  }

  .phone-information {
    display: flex;
    gap: 22.5px;
    align-items: center;
  }

  .phone-information span {
    font-size: 20px;
    line-height: 177.69%;
  }

  .add-review {
    width: 1147px;
    margin-bottom: 26px;
  }

  .reviews-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 26px;
  }

  .add-rating {
    display: flex;
  }

  .review-input-field {
    width: 1150px;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 10px;
    height: 62px;
    margin-bottom: 35px;
    margin-top: 27px;
  }

  .review-input-field input {
    width: calc(100% - 20px);
    height: 100%;
    font-weight: 300;
    font-size: 22px;
    line-height: 177.69%;
    background: inherit;
    border-radius: 10px;
    padding-left: 20px;
  }

  .btn-review {
    width: 250px;
    height: 54px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-left: 900px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: rgba(27, 31, 59, 0.6);
  }

  .btn-review:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .btn-review:active {
    background: #8EBD9D !important;
  }

  .sorting-reviews {
    display: flex;
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 177.69%;
    align-items: center;
  }

  .sorting-reviews b {
    margin-right: 23px;
    color: #000000;
  }

  .sorting-reviews .sort-by-date {
    position: relative;
    width: 100px;
    margin-right: 29px;
  }

  .sorting-reviews .sort-by-date span:hover {
    opacity: 50%;
  }

  .sorting-reviews .sort-by-rating span:hover {
    opacity: 50%;
  }

  .arrow {
    position: absolute;
    top: 11px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }

  .sorting-reviews .sort-by-date span {
    margin-right: 5px;
  }

  .sorting-reviews .sort-by-rating {
    position: relative;
  }

  .sorting-reviews .sort-by-rating span {
    margin-right: 5px;
  }

  .blue-button {
    color: #4DA8F7;
  }

  .review {
    margin-bottom: 51px;
  }

  .review-title-container {
    display: flex;
    margin-bottom: 10px;
  }

  .review .avatar {
    margin-right: 27px;
    width: 70px;
    height: 70px;
  }

  .review-title {
    position: relative;
  }

  .review-name-date {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .review-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin-right: 8px;
  }

  .review-time {
    padding-top: 5px;
    font-size: 15px;
    line-height: 177.69%;
    color: #535353;
  }

  .review-rating {}

  .rating {
    width: 161px;
    height: 24px;
  }

  .review-description {
    width: 1120px;
    font-size: 22px;
    line-height: 177.69%;
  }

  .review-description p {
    font-weight: 300;
  }

  .review-description button {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: #4DA8F7;
  }
}

@media screen and (max-width: 1450px) {
  .return-to-main {
    width: calc(0.75*250px);
    margin-left: calc(0.75*180px);
    margin-bottom: calc(0.83*65px);
    margin-top: calc(0.83*18px);
  }

  .return-button {
    margin-right: calc(0.75*18px);
    width: calc(0.75*16px);
    height: calc(0.75*16px);
  }

  .return-to-main span {
    font-size: calc(0.75*15px);
  }

  .line {
    height: calc(0.83*700px);
    left: calc(0.75*1266.71px);
    top: calc(0.83*900px);
  }

  .information {
    margin-left: calc(0.75*280px);
  }

  .main-information {
    width: calc(0.75*1360px);
    margin-bottom: calc(0.83*43px);
  }

  .title-container {
    margin-bottom: calc(0.83*44px);
  }

  .title {
    font-size: calc(0.75*28px);
    line-height: calc(0.83*38px);
    margin-right: calc(0.75*5px);
  }

  .img-good-place {
    margin-right: calc(0.75*27px);
    width: calc(0.75*22px);
    height: calc(0.75*22px);
  }

  .img-star {
    width: calc(0.75*22px);
    height: calc(0.75*21.02px);
  }

  .img-coworking-address {
    width: calc(0.75*20px);
    height: calc(0.75*24px);
  }

  .img-coworking-time {
    width: calc(0.75*22px);
    height: calc(0.75*22px);
  }

  .img-coworking-phone {
    width: calc(0.75*22.5px);
    height: calc(0.75*27px);
  }

  .coworking-rating {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*177.69%);
    margin-right: calc(0.75*11px);
  }

  .photo-container {
    display: flex;
    width: calc(0.75*1320px);
    height: calc(0.83*522px);
    margin-bottom: calc(0.83*55px);
  }

  .first-photo {
    width: calc(0.75*950px);
    height: calc(0.83*522px);
  }

  .second-photo {
    margin-left: calc(0.75*52px);
    width: calc(0.75*310px);
    height: calc(0.83*250px);
    margin-bottom: calc(0.83*21px);
  }

  .third-photo {
    margin-left: calc(0.75*52px);
    width: calc(0.75*310px);
    height: calc(0.83*250px);
  }

  .flex-description {
    gap: calc(0.75*54px);
  }

  .left-side {
    width: calc(0.75*962px);
  }

  .coworking-description {
    font-size: calc(0.75*22px);
    line-height: calc(0.83*177.69%);
    margin-bottom: calc(0.83*5px);
  }

  .coworking-map p {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
    margin-bottom: calc(0.83*38px);
  }

  .coworking-map .map {
    margin-bottom: calc(0.83*63px);
  }

  .map-img {
    width: calc(0.75*838px);
    height: calc(0.83*571px);
  }

  .right-side {
    width: calc(0.75*345px);
    margin-top: calc(0.83*43px);
  }

  .coworking-adress-container {
    gap: calc(0.75*25px);
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
    margin-bottom: calc(0.83*15px);
  }

  .coworking-time-container {
    gap: calc(0.75*24px);
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
    margin-bottom: calc(0.83*70px);
  }

  .tags {
    margin-bottom: calc(0.83*70px);
  }

  .tags p {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
    margin-bottom: calc(0.83*27px);
  }

  .coworking-tags {
    gap: calc(0.75*15px);
  }

  .coworking-tag {
    padding: calc(0.83*1px) calc(0.75*20px);
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
  }

  .contacts p {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
    margin-bottom: calc(0.83*37px);
  }

  .phone-information {
    gap: calc(0.75*22.5px);
  }

  .phone-information span {
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
  }

  .add-review {
    width: calc(0.75*1147px);
    margin-bottom: calc(0.83*26px);
  }

  .reviews-title {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
    margin-bottom: calc(0.83*26px);
  }

  .review-input-field {
    width: calc(0.75*1150px);
    height: calc(0.83*62px);
    margin-bottom: calc(0.83*35px);
  }

  .review-input-field input {
    width: calc(100% - calc(0.75*20px));
    font-size: calc(0.75*22px);
    line-height: calc(0.83*177.69%);
    padding-left: calc(0.75*20px);
  }

  .btn-review {
    width: calc(0.75*250px);
    height: calc(0.83*54px);
    margin-left: calc(0.75*900px);
    font-size: calc(0.75*15px);
    line-height: calc(0.83*28px);
  }

  .sorting-reviews {
    margin-bottom: calc(0.75*37px);
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
  }

  .sorting-reviews span {
    margin-right: calc(0.75*23px);
  }

  .sorting-reviews .sort-by-date {
    width: calc(0.75*100px);
    margin-right: calc(0.75*29px);
  }

  .arrow {
    top: calc(0.6*11px);
    width: calc(0.75*16px);
    height: calc(0.75*16px);
  }

  .sorting-reviews .sort-by-date span {
    margin-right: calc(0.75*5px);
  }

  .review {
    margin-bottom: calc(0.83*51px);
  }

  .review-title-container {
    margin-bottom: calc(0.83*10px);
  }

  .review .avatar {
    margin-right: calc(0.75*27px);
    width: calc(0.75*70px);
    height: calc(0.75*70px);
  }

  .review-name-date {
    margin-bottom: calc(0.75*5px);
  }

  .review-name {
    font-size: calc(0.75*22px);
    line-height: calc(0.83*30px);
    margin-right: calc(0.75*8px);
  }

  .review-time {
    padding-top: calc(0.83*5px);
    font-size: calc(0.75*15px);
    line-height: calc(0.83*177.69%);
  }

  .review-rating {}

  .rating {
    width: calc(0.75*161px);
    height: calc(0.83*24px);
  }

  .review-description {
    width: calc(0.75*1120px);
    font-size: calc(0.75*22px);
    line-height: calc(0.83*177.69%);
  }
}

@media screen and (max-width: 1370px) {
  .return-to-main {
    width: calc(0.71*250px);
    margin-left: calc(0.71*180px);
    margin-bottom: calc(0.71*65px);
    margin-top: calc(0.71*18px);
  }

  .return-button {
    margin-right: calc(0.71*18px);
    width: calc(0.71*16px);
    height: calc(0.71*16px);
  }

  .return-to-main span {
    font-size: calc(0.71*15px);
  }

  .line {
    height: calc(0.71*700px);
    left: calc(0.71*1266.71px);
    top: calc(0.71*900px);
  }

  .information {
    margin-left: calc(0.71*280px);
  }

  .main-information {
    width: calc(0.71*1360px);
    margin-bottom: calc(0.71*43px);
  }

  .title-container {
    margin-bottom: calc(0.71*44px);
  }

  .title {
    font-size: calc(0.71*28px);
    line-height: calc(0.71*38px);
    margin-right: calc(0.71*5px);
  }

  .img-good-place {
    margin-right: calc(0.71*27px);
    width: calc(0.71*22px);
    height: calc(0.71*22px);
  }

  .img-star {
    width: calc(0.71*22px);
    height: calc(0.71*21.02px);
  }

  .img-coworking-address {
    width: calc(0.71*20px);
    height: calc(0.71*24px);
  }

  .img-coworking-time {
    width: calc(0.71*22px);
    height: calc(0.71*22px);
  }

  .img-coworking-phone {
    width: calc(0.71*22.5px);
    height: calc(0.71*27px);
  }

  .coworking-rating {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*177.69%);
    margin-right: calc(0.71*11px);
  }

  .photo-container {
    width: calc(0.71*1320px);
    height: calc(0.71*522px);
    margin-bottom: calc(0.71*55px);
  }

  .first-photo {
    width: calc(0.71*950px);
    height: calc(0.71*522px);
  }

  .second-photo {
    margin-left: calc(0.71*52px);
    width: calc(0.71*310px);
    height: calc(0.71*250px);
    margin-bottom: calc(0.71*21px);
  }

  .third-photo {
    margin-left: calc(0.71*52px);
    width: calc(0.71*310px);
    height: calc(0.71*250px);
  }

  .flex-description {
    gap: calc(0.71*54px);
  }

  .left-side {
    width: calc(0.71*962px);
  }

  .coworking-description {
    font-size: calc(0.71*22px);
    line-height: calc(0.71*177.69%);
    margin-bottom: calc(0.71*5px);
  }

  .coworking-map p {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
    margin-bottom: calc(0.71*38px);
  }

  .coworking-map .map {
    margin-bottom: calc(0.71*63px);
  }

  .map-img {
    width: calc(0.71*838px);
    height: calc(0.71*571px);
  }

  .right-side {
    width: calc(0.71*345px);
    margin-top: calc(0.71*43px);
  }

  .coworking-adress-container {
    gap: calc(0.71*25px);
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
    margin-bottom: calc(0.71*15px);
  }

  .coworking-time-container {
    gap: calc(0.71*24px);
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
    margin-bottom: calc(0.71*70px);
  }

  .tags {
    margin-bottom: calc(0.71*70px);
  }

  .tags p {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
    margin-bottom: calc(0.71*27px);
  }

  .coworking-tags {
    gap: calc(0.71*15px);
  }

  .coworking-tag {
    padding: calc(0.71*1px) calc(0.71*20px);
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
  }

  .contacts p {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
    margin-bottom: calc(0.71*37px);
  }

  .phone-information {
    gap: calc(0.71*22.5px);
  }

  .phone-information span {
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
  }

  .add-review {
    width: calc(0.71*1147px);
    margin-bottom: calc(0.71*26px);
  }

  .reviews-title {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
    margin-bottom: calc(0.71*26px);
  }

  .review-input-field {
    width: calc(0.71*1150px);
    height: calc(0.71*62px);
    margin-bottom: calc(0.71*35px);
  }

  .review-input-field input {
    width: calc(100% - calc(0.71*20px));
    font-size: calc(0.71*22px);
    line-height: calc(0.71*177.69%);
    padding-left: calc(0.71*20px);
  }

  .btn-review {
    width: calc(0.71*250px);
    height: calc(0.71*54px);
    margin-left: calc(0.71*900px);
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);
  }

  .sorting-reviews {
    margin-bottom: calc(0.71*37px);
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
  }

  .sorting-reviews span {
    margin-right: calc(0.71*23px);
  }

  .sorting-reviews .sort-by-date {
    width: calc(0.71*100px);
    margin-right: calc(0.71*29px);
  }

  .arrow {
    top: calc(0.4*11px);
    width: calc(0.71*16px);
    height: calc(0.71*16px);
  }

  .sorting-reviews .sort-by-date span {
    margin-right: calc(0.71*5px);
  }

  .review {
    margin-bottom: calc(0.71*51px);
  }

  .review-title-container {
    margin-bottom: calc(0.71*10px);
  }

  .review .avatar {
    margin-right: calc(0.71*27px);
    width: calc(0.71*70px);
    height: calc(0.71*70px);
  }

  .review-name-date {
    margin-bottom: calc(0.71*5px);
  }

  .review-name {
    font-size: calc(0.71*22px);
    line-height: calc(0.71*30px);
    margin-right: calc(0.71*8px);
  }

  .review-time {
    padding-top: calc(0.71*5px);
    font-size: calc(0.71*15px);
    line-height: calc(0.71*177.69%);
  }

  .review-rating {}

  .rating {
    width: calc(0.71*161px);
    height: calc(0.71*24px);
  }

  .review-description {
    width: calc(0.71*1120px);
    font-size: calc(0.71*22px);
    line-height: calc(0.71*177.69%);
  }
}