<app-header></app-header>

<div class="return-to-main">
  <a routerLink="/">
    <img src="assets/img/return-button.svg" alt="return-button" class="return-button">
  </a>
  <span>Вернуться к поиску</span>
</div>

<div class="information" *ngIf="coworking">
  <div class="main-information">
    <div class="title-container">
      <p class="title">{{ coworking.name }}</p>
      <img src="assets/img/good-place.svg" alt="good-place" class="img-good-place"
        [ngStyle]="{ visibility: coworking.rating < 3.5 ? 'hidden' : '' }">
      <p class="coworking-rating">{{coworking.rating}}</p>
      <img src="assets/img/star.svg" alt="star" class="img-star">
    </div>

    <div class="photo-container">

      <div>
        <div class="photo">
          <img src="{{coworking.photo[0]}}" class="first-photo" onerror="this.src='assets/img/logo.svg'" alt="img"
            width=950px height=522px>
        </div>
      </div>

      <div>
        <div class="photo">
          <img src="{{coworking.photo[1]}}" class="second-photo" onerror="this.src='assets/img/logo.svg'" alt="img"
            width=310px height=250px>
        </div>

        <div class="photo">
          <img src="{{coworking.photo[2]}}" class="third-photo" onerror="this.src='assets/img/logo.svg'" alt="img"
            width=310px height=250px>
        </div>

      </div>

    </div>

    <div class="flex-description">
      <div class="left-side">
        <p class="coworking-description">{{coworking.description}}</p>

        <div class="coworking-map">
          <p>
            Отображение на карте
          </p>

          <div class="map">
            <img src="assets/img/map.png" alt="map" class="map-img">
          </div>
        </div>

      </div>

      <div class="right-side">

        <div class="coworking-adress-container">
          <img src="assets/img/coworking-adress.svg" alt="coworking-adress" class="img-coworking-address">
          <p> {{coworking.address}} </p>
        </div>

        <div class="coworking-time-container">
          <img src="assets/img/coworking-time.svg" alt="coworking-time" class="img-coworking-time">
          <p>{{coworking.opening_hours}}</p>
        </div>

        <div class="tags">
          <p>Удобства</p>
          <div class="coworking-tags">
            <div class="coworking-tag" *ngFor="let tag of tags">{{tag.name}}</div>
          </div>
        </div>

        <div class="contacts">
          <p>Контакты</p>
          <div class="phone-information">
            <img src="assets/img/phone.svg" alt="phone" width="22.5" height="27" class="img-coworking-phone">
            <span>{{coworking.company_phone}}</span>
          </div>
        </div>

      </div>

    </div>

    <form class="add-review" [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="reviews-title">Отзывы</p>
      <ngx-star-rating [id]="'rating'" class="add-rating" formControlName="rating"></ngx-star-rating>
      <div class="review-input-field">
        <input id="review" placeholder="Отзыв" type="text" formControlName="description">
        <label for="review"></label>
      </div>
      <button class="btn-review" type="submit" [disabled]="form.invalid || form.disabled">Оставить отзыв</button>
    </form>

    <div class="sorting-reviews">
      <b>Сортировать:</b>
      <button class="sort-by-date" (click)="toggleUPDay()" (click)="sortByDay()"
        [ngClass]="{ 'blue-button': isButtonDayActive }" (click)="toggleButtonDay()">
        <span>по дате</span>
        <img src="assets/img/arrowUP.svg" alt="arrowUP" class="arrow" *ngIf="UPDay && isButtonDayActive">
        <img src="assets/img/arrowDOWN.svg" alt="arrowDOWN" class="arrow" *ngIf="!UPDay && isButtonDayActive">
      </button>
      <button class="sort-by-rating" (click)="toggleUPRating()" (click)="sortByRating()"
        [ngClass]="{ 'blue-button': isButtonRatingActive }" (click)="toggleButtonRating()">
        <span>по оценке</span>
        <img src="assets/img/arrowUP.svg" alt="arrowUP" class="arrow" *ngIf="UPRating && isButtonRatingActive">
        <img src="assets/img/arrowDOWN.svg" alt="arrowDOWN" class="arrow" *ngIf="!UPRating && isButtonRatingActive">
      </button>
    </div>

    <div class="reviews">
      <div class="review" *ngFor="let review of allReviews">
        <div class="review-title-container">
          <img src="assets/img/star.svg" alt="avatar" class="avatar">
          <div class="review-title">

            <div class="review-name-date">
              <span class="review-name">{{review.user_name + ' ' + review.user_surname}}</span>
              <time class="review-time">{{review.formattedDate}}</time> <!-- {{review.created_at}} -->
            </div>
            <div class="review-rating">
              <img src="assets/img/rating1.svg" alt="rating" class="rating" *ngIf="review.rank === 1">
              <img src="assets/img/rating2.svg" alt="rating" class="rating" *ngIf="review.rank === 2">
              <img src="assets/img/rating3.svg" alt="rating" class="rating" *ngIf="review.rank === 3">
              <img src="assets/img/rating4.svg" alt="rating" class="rating" *ngIf="review.rank === 4">
              <img src="assets/img/rating5.svg" alt="rating" class="rating" *ngIf="review.rank === 5">
            </div>
          </div>
        </div>

        <div class="review-description" *ngIf="review.body">

          <p *ngIf="review.body.length > 244  && !showFullDescription">
            {{ review.body.substring(0, 244) + '...' }}
            <button (click)="showFullDescription = true">Читать полностью</button>
          </p>

          <p *ngIf="(review.body.length < 244 || showFullDescription) && review.body.length > 0">{{ review.body }}</p>
        </div>

      </div>

    </div>
  </div>



  <div class="line"></div>

</div>
<app-footer></app-footer>