@media screen and (max-width: 5000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25vw;
    margin-left: 8.854166666666668vw;
    margin-top: 20.37037037037037vh;
    padding-bottom: 32.407407vh;
  }

  .container .container-item {
    width: 38.02083333333333vw;
    height: 52.77777777777778vh;
    border-radius: 20px;
    background: #D1E5D2;
    position: relative;
  }

  .container-item .item {
    padding-left: 3.6458333333333335vw;
    position: relative;
    height: 100%;
    /* Делаем высоту .item равной 100% */
  }

  .container-item .item-img {
    width: 10.9375vw;
    height: 16.666666666666664vh;
    margin-bottom: 2.314814814814815vh;
  }

  .container-item .first {
    padding-top: 4.6296vh;
  }

  .container-item .fourth {
    padding-top: 2.2222vh;
    width: 8.203125vw;
    height: 19.444444444444446vh;
  }

  .item p {
    font-size: 2.083333333333333vw;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2.314814814814815vh;
  }

  .item h5 {
    max-width: 31.25vw;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: normal;
  }

  .item .direct-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 3.2407407407407405vh;

    width: 12.760416666666666vw;
    height: 4.907407407407407vh;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }

  .item .direct-btn:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .item .direct-btn:active {
    background: #8EBD9D !important;
  }

  .item .direct-btn span {
    color: rgba(27, 31, 59, 0.60);
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .item .direct-btn img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}