<app-header></app-header>

<div class="container">
  <div class="container-item">
    <div class="item">
      <img src="assets/admin/admin-first.svg" class="item-img first" alt="first">
      <p>Все заявки на добавление места</p>
      <h5>Посмотреть полный список заявок на добавление места, которые оставили пользователи</h5>
      <button class="direct-btn" type="button">
        <span>Перейти</span>
        <img src="assets/admin/arrow.svg" alt="arrow">
      </button>
    </div>
  </div>

  <div class="container-item">
    <div class="item">
      <img src="assets/admin/admin-second.svg" class="item-img first" alt="second">
      <p>Все заявки на продвижение места</p>
      <h5>Посмотреть полный список заявок на продвижение места, которые оставили пользователи</h5>
      <button class="direct-btn" type="button">
        <span>Перейти</span>
        <img src="assets/admin/arrow.svg" alt="arrow">
      </button>
    </div>
  </div>

  <div class="container-item">
    <div class="item">
      <img src="assets/admin/admin-third.svg" class="item-img first" alt="third">
      <p>Активные банеры</p>
      <h5>Посмотреть все банеры, которые отображаются на главной странице</h5>
      <button class="direct-btn" type="button">
        <span>Перейти</span>
        <img src="assets/admin/arrow.svg" alt="arrow">
      </button>
    </div>
  </div>

  <div class="container-item">
    <div class="item">
      <img src="assets/admin/admin-fourth.svg" class="item-img fourth" alt="fourth">
      <p>Все места</p>
      <h5>Посмотреть все места</h5>
      <button class="direct-btn" type="button">
        <span>Перейти</span>
        <img src="assets/admin/arrow.svg" alt="arrow">
      </button>
    </div>
  </div>
</div>