<div class="header-container">
  <div class="header-left-side">
    <div class="logo-img">

    </div>
    <a class="title" routerLink="/">WorkPoint</a>
    <img src="assets/img/location.svg" class="location-img" alt="location">
    <p class="location-name">Екатеринбург</p>
  </div>

  <div class="header-right-side">
    <button type="button" class="btn-add-coworking" (click)="navigateWithDelay('/main/add')">
      Добавить место
    </button>

    <!-- <button type="button" class="btn-notification">
      <img src="assets/img/notification.svg" alt="notification" class="btn-notification-img">
    </button> -->

    <a routerLink="/profile" class="profile-img">
      <img src="{{user.photo_user}}" alt="profile" class="profile-img-img" *ngIf="user"
        onerror="this.src='assets/img/logo.svg'">
    </a>

    <div class="dropdown">

      <div class="name">
        <p class="profile-name" *ngIf="user">{{user.name + ' ' + user.surname}}</p>
        <button class="profile-name sign-in" *ngIf="!user" routerLink="/login">Вход</button>
      </div>

      <div class="dropdown-menu" [ngClass]="{'show': ifClicked}">
        <a routerLink="/favourites" class="dropdown-link">Избранное</a>
        <a routerLink="/profile" class="dropdown-link">Настройки профиля</a>
        <a routerLink="/place-settings" class="dropdown-link">Настройки мест</a>
        <div *ngIf="user">
          <a routerLink="/ad-business" class="dropdown-link" *ngIf="user.role_id === 2">Продвижение</a>
        </div>
        <a href="#" class="dropdown-link" (click)="logout($event)">Выход</a>
      </div>
    </div>

    <div *ngIf="user">
      <button class="btn-settings" (click)="ifClicked = !ifClicked">
        <img src="assets/img/settings.svg" alt="settings" class="btn-settings-img">
      </button>
    </div>

  </div>
</div>
