@media screen and (max-width: 5000px) {
  .header-container {
    display: flex;
    width: 83.33vw;
    height: 6.944444444444445vh;
    margin-left: 8.33vw;
    margin-top: 4.62962962962963vh;
    border-bottom: 2px solid #e9e9e9;
    justify-content: space-between;
    padding-bottom: 0.7vh;
  }

  .header-left-side {
    display: flex;
    vertical-align: middle;
    align-items: center;
  }

  .header-right-side {
    display: flex;
    vertical-align: middle;
    align-items: center;
  }

  .title {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 6.018518518518518vh;
    margin-right: 0.9895833333333333vw;
  }

  .logo-img {
    position: absolute;
    width: 2.604166666666667vw;
    height: 4.605555555555556vh;
    left: 7.97vw;
    top: 5.55555555555556vh;

    background: linear-gradient(341.04deg, #BEDAC3 10.49%, rgba(255, 255, 255, 0) 100.29%);
    filter: drop-shadow(0px 7.935px 19.8375px rgba(250, 196, 201, 0.2));
    transform: rotate(117.88deg);
    border-radius: 50%;
  }

  .location-img {
    width: 0.7291666666666666vw;
    height: 0.7291666666666666vw;
    margin-top: 0.9259259259259258vh;
    margin-right: 0.6770833333333334vw;
  }

  .location-name {
    margin-top: 0.9259259259259258vh;
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
  }

  .btn-add-coworking {
    background: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    width: 10.989583vw;
    height: 5.0vh;
    margin-right: 1.5104166666666667vw;
    font-weight: 600;
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    color: rgba(27, 31, 59, 0.6);
  }

  .btn-add-coworking:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .btn-add-coworking:active {
    background: #8EBD9D !important;
  }

  .btn-notification {
    width: 1.0416666666666665vw;
    height: 2.037037037037037vh;
    margin-right: 2.1875vw;
  }

  .btn-notification-img {
    width: 1.0416666666666665vw;
    height: 2.037037037037037vh;
  }

  .profile-img {
    position: relative;
    margin-right: 0.8854166666666666vw;
    width: 4.166666666666666vw;
    height: 4.1666vw;
    border-radius: 50%;
    overflow: hidden;
  }

  .profile-img-img {
    width: 4.1666vw;
    height: 4.1666vw;
  }

  .profile-name {
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    color: rgba(27, 31, 59, 0.8);
  }

  .sign-in {
    margin-right: 1.5625vw;
    font-size: 1.0416666666666665vw;
  }

  .sign-in:hover {
    color: black;
  }

  .name {
    margin-right: 0.3645833333333333vw;
  }

  .dropdown {
    display: flex;
  }

  .dropdown-menu {
    position: absolute;
    margin-top: 2.7777777777777777vh;
    background: #FBFBF5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-out;
  }

  .dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu a {
    display: block;
    color: #494C62;
    padding: 11px 11px;
    opacity: 0.7;
    font-size: 0.8333333333333334vw;
  }

  .dropdown-menu a:hover {
    opacity: 1;
  }

  .btn-settings {
    height: 0.5208333333333333vw;
    width: 0.5208333333333333vw;
    position: relative;
  }

  .btn-settings-img {
    height: 0.5208333333333333vw;
    width: 0.5208333333333333vw;
  }

  .settings li {
    position: relative;
  }
}