.header-container {
  display: flex;
  width: 1600px;
  height: 75px;
  margin-left: 160px;
  margin-top: 50px;
  border-bottom: 2px solid #e9e9e9;
  justify-content: space-between;
  padding-bottom: 5px;
}

.header-left-side {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.header-right-side {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.title {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  margin-right: 19px;
}

.logo-img {
  position: absolute;
  width: 50px;
  height: 49.74px;
  left: 153px;
  top: 60px;

  background: linear-gradient(341.04deg, #BEDAC3 10.49%, rgba(255, 255, 255, 0) 100.29%);
  filter: drop-shadow(0px 7.935px 19.8375px rgba(250, 196, 201, 0.2));
  transform: rotate(117.88deg);
  border-radius: 50%;
}

.location-img {
  margin-top: 10px;
  margin-right: 13px;
}

.location-name {
  margin-top: 10px;
}

.btn-add-coworking {
  background: #E0E0D6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 211px;
  height: 54px;
  margin-right: 29px;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: rgba(27, 31, 59, 0.6);
}

.btn-notification {
  height: 22px;
  margin-right: 42px;
}

.profile-img {
  margin-right: 17px;
}

.profile-name {
  font-size: 15px;
  line-height: 28px;
  color: rgba(27, 31, 59, 0.8);
}

.dropdown {
  position: relative;
  margin-top: 160px;
}

.dropdown-menu {
  padding-top: 13px;
  background: #FBFBF5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .2s ease-out;
}

.dropdown-menu.show {
  z-index: 99;
  visibility: visible;
  opacity: 1;
}

.dropdown-menu a {
  display: block;
  color: #494C62;
  padding: 11px 11px;
  opacity: 0.7;
}

.dropdown-menu a:hover {
  opacity: 1;
}

.btn-settings {
  height: 10px;
  position: relative;
}



.settings li {
  position: relative;
}

/* .settings li a {
  display: block;
} */
