<div class="header-container">
  <div class="header-left-side">
    <h1 class="title">WorkPoint</h1>
    <img src="assets/img/location.svg" class="location-img" alt="location" widht="14" height="16">
    <p class="location-name">Екатеринбург</p>
  </div>

  <div class="header-right-side">
    <button type="button" class="btn-add-coworking">Добавить место</button>

    <button type="button" class="btn-notification">
      <img src="assets/img/notification.svg" alt="notification" width="20" height="22">
    </button>

    <img src="assets/img/profile.png" alt="profile" width="80" height="80">

    <p class="profile-name">Мария Иванова</p>

    <button class="btn-settings">
      <img src="assets/img/settings.svg" alt="settings" width="13" height="13">
    </button>

  </div>

</div>
