<app-header></app-header>

<div class="return-to-main">
  <a routerLink="/">
    <img src="assets/img/return-button.svg" alt="return-button" class="return-button" width="16" height="16">
  </a>
  <span>Вернуться к поиску</span>
</div>

<div class="main-top-content">

  <div class="profile-navigation">
    <ul>
      <li>Избранное</li>
      <li>Настройки профиля</li>
      <li>Настройки мест</li>
    </ul>
  </div>

  <div class="top-information">
    <img src="assets/img/profile.svg" alt="profile" width="150" height="150">
    <ul>
      <h2>Мария Иванова</h2>
      <span>+7 (999) 999-99-00</span>
    </ul>
  </div>

</div>

<app-footer></app-footer>
