<app-header></app-header>

<div class="banner-container">
  <img src="assets/img/banner.png" class="banner" alt="banner">
  <p>Все коворкинги вашего города</p>
</div>
<div class="search">
  <div class="search-container" id="searchInput">
    <img src="assets/img/search.svg" alt="search">
    <input type="text" placeholder="Введите название или тип заведения" class="search-container-input"
      [(ngModel)]="term">
  </div>
  <button class="btn-find-coworking">Найти коворкинг</button>
</div>


<p class="count-coworkings" id="coworkings-list"> Найдено: {{filteredCoworkings.length}} </p>
<span *ngIf="">

</span>

<div class="filter-and-coworkings">

  <div class="filter-container">
    <h1>Фильтры</h1>

    <div class="filter">

      <div class="filter-labels filter-district">
        <h2>Район</h2>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="akadem" name="district" value="akadem"
            (change)="onClickDistrictFilter('Академический')">
          <label for="akadem">Академический</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="VIZ" name="district" value="VIZ"
            (change)="onClickDistrictFilter('Верх-Исетский')">
          <label for="VIZ">Верх-Исетский</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="JD" name="district" value="JD"
            (change)="onClickDistrictFilter('Железнодорожный')">
          <label for="JD">Железнодорожный</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="Kirovski" name="district"
            value="Kirovski" (change)="onClickDistrictFilter('Кировский')">
          <label for="Kirovski">Кировский</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="Leninski" name="district"
            value="Leninski" (change)="onClickDistrictFilter('Ленинский')">
          <label for="Leninski">Ленинский</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="Octyabrski" name="district"
            value="Octyabrski" (change)="onClickDistrictFilter('Октябрьский')">
          <label for="Octyabrski">Октябрьский</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="ORDJ" name="district" value="ORDJ"
            (change)="onClickDistrictFilter('Орджоникидзевский')">
          <label for="ORDJ">Орджоникидзевский</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="Chkalovski" name="district"
            value="Chkalovski" (change)="onClickDistrictFilter('Чкаловский')">
          <label for="Chkalovski">Чкаловский</label>
        </div>

      </div>

      <div class="filter-labels filter-type-coworking">
        <h2 class="coworking-type">Вид коворкинга</h2>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="office" name="type" value="office"
            (change)="onClickTypeFilter('Рабочий зал')">
          <label for="office">Рабочий зал</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="anticafe" name="type" value="anticafe"
            (change)="onClickTypeFilter('Антикафе')">
          <label for="anticafe">Антикафе</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_multiple" id="cafe" name="type" value="cafe"
            (change)="onClickTypeFilter('Кафе')">
          <label for="cafe">Кафе</label>
        </div>

      </div>

      <div class="filter-labels filter-time">
        <h2 class="coworking-time">Часы работы</h2>


        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_single" id="everytime" name="time" value="everytime"
            (change)="onClickOpeningHoursFilter('Круглосуточно')">
          <label for="everytime">Круглосуточно</label>
        </div>

        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_single" id="weekdays" name="time" value="weekdays"
            (change)="onClickOpeningHoursFilter('По будням')">
          <label for="weekdays">По будням</label>
        </div>

      </div>

      <div class="filter-labels filter-parking">
        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_single" id="parking" name="parking" value="parking"
            (change)="onClickParkingFilter()">
          <label for="parking">
            <h3>Парковка</h3>
          </label>
        </div>
      </div>

      <div class="filter-labels filter-restzone">
        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_single" id="restzone" name="restzone" value="restzone"
            (change)="onClickRecreationAreaFilter()">
          <label for="restzone">
            <h3>Зона отдыха</h3>
          </label>
        </div>
      </div>

      <div class="filter-labels filter-conference">
        <div class="radio">
          <input type="checkbox" class="custom-radio custom-radio_single" id="conference" name="conference"
            value="conference" (change)="onClickConferenceHallFilter()">
          <label for="conference">
            <h3>Наличие конференц-зала</h3>
          </label>
        </div>
      </div>

    </div>
  </div>

  <div>

    <app-coworkings-list *ngFor="let coworking of filteredCoworkings | findCoworking: term let i = index"
      [coworking]="coworking"></app-coworkings-list>

  </div>

</div>

<app-footer (searchClicked)="scrollToElement('#searchInput')" (coworkingsClicked)="scrollToElement('#coworkings-list')"
  (topClicked)="scrollToElement('.header-container')"></app-footer>