.filter-and-coworkings {
  display: flex;
}

.custom-radio_multiple:checked+label::before {
  background-image: url("..//..//..//../assets/img/filter-multiple-checked.svg");
}

.custom-radio_multiple:disabled+label::before {
  background-image: url("..//..//..//../assets/img/filter-multiple-default.svg");
}

.custom-radio_multiple+label::before {
  background-image: url("..//..//..//../assets/img/filter-multiple-default.svg");
}

.custom-radio_single:checked+label::before {
  background-image: url("..//..//..//../assets/img/filter-single-checked.svg");
}

.custom-radio_single:disabled+label::before {
  background-image: url("..//..//..//../assets/img/filter-single-default.svg");
}

.custom-radio_single+label::before {
  background-image: url("..//..//..//../assets/img/filter-single-default.svg");
}

.radio:hover {
  opacity: 70%;
}


@media screen and (max-width: 5000px) {
  .pagination /deep/ .ngx-pagination .current {
    background: rgba(190, 218, 195, 0.7);
    border-radius: 10px;
  }

  .pagination /deep/ .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: rgba(190, 218, 195, 0.7);
    border-radius: 10px;
  }

  .count-coworkings {
    color: rgba(27, 31, 59, 0.8);
    font-weight: 700;
    font-size: 19px;
    margin-left: 652px;
    margin-top: 53px;
    margin-bottom: 19px;
  }

  .banner-container {
    width: 1400px;
    height: 413px;
    margin-left: 200px;
    margin-top: 70px;
    border-radius: 20px;
    margin-bottom: 140px;
  }

  .banner-container .item {
    width: 100%;
    height: 413px;
    border-radius: 20px;
  }

  .banner-container .banner {
    width: 1400px;
    height: 413px;
  }

  .carousel-pagination {
    margin-top: 20px;
  }

  .banner-container p {
    font-weight: 700;
    font-size: 48px;
    padding-top: 43px;
    text-align: center;
  }

  .search {
    display: flex;
    width: 1175px;
    margin-left: 412px;
    justify-content: space-between;
  }

  .search-container {
    display: flex;
    gap: 17px;
    width: 862px;
    height: 54px;
    background: #FBFBF5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    vertical-align: middle;
    align-items: center;
  }

  .search-container-input {
    width: 862px;
    font-size: 15px;
    background: #FBFBF5;
    font-weight: 300;
  }

  .search-container img {
    margin-left: 28px;
  }

  .btn-find-coworking:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .btn-find-coworking:active {
    background: #8EBD9D !important;
  }

  .btn-find-coworking {
    width: 275px;
    background-color: #E0E0D6 !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    font-weight: 600;
    color: rgba(27, 31, 59, 0.6);
    font-size: 15px;
  }

  .filter-container {
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
    width: 419px;
    height: 1100px;
    margin-left: 161px;
    margin-bottom: 271px;
    margin-right: 60px;
  }

  .filter-container h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    padding-top: 55px;
    padding-left: 56px;
    margin-bottom: 26px;
  }

  .filter-labels {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .filter-labels h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding-left: 56px;
    padding-bottom: 6px;
  }

  .filter-labels h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  .filter-parking {
    margin-top: 16px;
  }

  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 24px;
    line-height: 177.69%;
  }

  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 22.6px;
    height: 24px;
    margin-right: 19px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .coworking-type {
    margin-top: 11px;
  }

  .coworking-time {
    margin-top: 11px;
  }

  .filter-parking {
    margin-bottom: 12px;
  }

  .filter-restzone {
    margin-bottom: 12px;
  }

  .loader-icon {
    position: absolute;
    top: calc(1650px/2);
    left: calc(1920px/2);
    font-size: 50px;
    animation: fa-spin 0.7s infinite linear;
  }

  /* .pagination {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 100px;
  } */


}

@media screen and (max-width: 1450px) {

  .count-coworkings {
    font-size: calc(0.75*19px);
    margin-left: calc(0.75*652px);
    margin-top: calc(0.83*53px);
    margin-bottom: calc(0.83*19px);
  }

  .banner-container {
    width: calc(0.75*1400px);
    height: calc(0.83*413px);
    margin-left: calc(0.75*200px);
    margin-top: calc(0.83*70px);
    margin-bottom: calc(0.83*140px);
  }

  .banner-container .item {
    height: calc(0.83*413px);
  }

  .banner-container .banner {
    width: calc(0.75*1400px);
    height: calc(0.83*413px);
  }

  .carousel-pagination {
    margin-top: calc(0.83*20px);
  }

  .banner-container p {
    font-size: calc(0.75*48px);
    padding-top: calc(0.83*43px);
  }

  .search {
    width: calc(0.75*1175px);
    margin-left: calc(0.75*412px);
  }

  .search-container {
    gap: calc(0.75*17px);
    width: calc(0.75*862px);
    height: calc(0.83*54px);
  }

  .search-container-input {
    width: calc(0.75*862px);
    font-size: calc(0.75*15px);
  }

  .search-container img {
    margin-left: calc(0.75*28px);
  }

  .btn-find-coworking {
    width: calc(0.75*275px);
    font-size: calc(0.75*15px);
  }

  .filter-container {
    width: calc(0.75*419px);
    height: calc(0.83*1100px);
    margin-left: calc(0.75*161px);
    margin-bottom: calc(0.83*271px);
    margin-right: calc(0.75*60px);
  }

  .filter-container h1 {
    font-size: calc(0.75*28px);
    line-height: calc(0.83*38px);
    padding-top: calc(0.83*55px);
    padding-left: calc(0.75*56px);
    margin-bottom: calc(0.83*26px);
  }

  .filter-labels {
    gap: calc(0.75*4px);
  }

  .filter-labels h2 {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
    padding-left: calc(0.75*56px);
    padding-bottom: calc(0.83*6px);
  }

  .filter-labels h3 {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*33px);
  }

  .filter-parking {
    margin-top: calc(0.83*16px);
  }

  .custom-radio+label {
    font-size: calc(0.75*24px);
    line-height: calc(0.83*177.69%);
  }

  .custom-radio+label::before {
    width: calc(0.75*22.6px);
    height: calc(0.83*24px);
    margin-right: calc(0.75*19px);
    margin-left: calc(0.75*15px);
  }

  .coworking-type {
    margin-top: calc(0.83*11px);
  }

  .coworking-time {
    margin-top: calc(0.83*11px);
  }

  .filter-parking {
    margin-bottom: calc(0.83*12px);
  }

  .filter-restzone {
    margin-bottom: calc(0.83*12px);
  }

  .loader-icon {
    top: calc(0.83*calc(1650px/2));
    left: calc(0.75*calc(1920px/2));
    font-size: calc(0.75*50px);
  }
}

@media screen and (max-width: 1370px) {
  .count-coworkings {
    font-size: calc(0.71*19px);
    margin-left: calc(0.71*652px);
    margin-top: calc(0.71*53px);
    margin-bottom: calc(0.71*19px);
  }

  .banner-container {
    width: calc(0.71*1400px);
    height: calc(0.71*413px);
    margin-left: calc(0.71*200px);
    margin-top: calc(0.71*70px);
    margin-bottom: calc(0.71*140px);
  }

  .banner-container .item {
    height: calc(0.71*413px);
  }

  .banner-container .banner {
    width: calc(0.71*1400px);
    height: calc(0.71*413px);
  }

  .carousel-pagination {
    margin-top: calc(0.71*20px);
  }

  .banner-container p {
    font-size: calc(0.71*48px);
    padding-top: calc(0.71*43px);
  }

  .search {
    width: calc(0.71*1175px);
    margin-left: calc(0.71*412px);
  }

  .search-container {
    gap: calc(0.71*17px);
    width: calc(0.71*862px);
    height: calc(0.71*54px);
  }

  .search-container-input {
    width: calc(0.71*862px);
    font-size: calc(0.71*15px);
  }

  .search-container img {
    margin-left: calc(0.71*28px);
  }

  .btn-find-coworking {
    width: calc(0.71*275px);
    font-size: calc(0.71*15px);
  }

  .filter-container {
    width: calc(0.71*419px);
    height: calc(0.71*1100px);
    margin-left: calc(0.71*161px);
    margin-bottom: calc(0.71*271px);
    margin-right: calc(0.71*60px);
  }

  .filter-container h1 {
    font-size: calc(0.71*28px);
    line-height: calc(0.71*38px);
    padding-top: calc(0.71*55px);
    padding-left: calc(0.71*56px);
    margin-bottom: calc(0.71*26px);
  }

  .filter-labels {
    gap: calc(0.71*4px);
  }

  .filter-labels h2 {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
    padding-left: calc(0.71*56px);
    padding-bottom: calc(0.71*6px);
  }

  .filter-labels h3 {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*33px);
  }

  .filter-parking {
    margin-top: calc(0.71*16px);
  }

  .custom-radio+label {
    font-size: calc(0.71*24px);
    line-height: calc(0.71*177.69%);
  }

  .custom-radio+label::before {
    width: calc(0.71*22.6px);
    height: calc(0.71*24px);
    margin-right: calc(0.71*19px);
    margin-left: calc(0.71*15px);
  }

  .coworking-type {
    margin-top: calc(0.71*11px);
  }

  .coworking-time {
    margin-top: calc(0.71*11px);
  }

  .filter-parking {
    margin-bottom: calc(0.71*12px);
  }

  .filter-restzone {
    margin-bottom: calc(0.71*12px);
  }

  .loader-icon {
    top: calc(0.71*calc(1650px/2));
    left: calc(0.71*calc(1920px/2));
    font-size: calc(0.71*50px);
  }
}