@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    margin-left: 8.75vw;
    margin-bottom: 6.481481481481481vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .content-container {
    margin-left: 25.0vw;
  }

  .content-container h1 {
    font-size: 1.4583333333333333vw;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 4.814814814814815vh;
  }

  .content-container h2 {
    font-size: 1.4583333333333333vw;
    line-height: normal;
    margin-left: 4.6875vw;
    margin-bottom: 2.4074074074074074vh;
  }

  .application-container {
    width: 49.6875vw;
    border-radius: 20px;
    background: rgba(190, 218, 195, 0.70);
    margin-bottom: 7.314814814814814vh;
  }

  .content {
    padding-left: 7.291666666666667vw;
    padding-top: 5.277vh;
  }

  .flex {
    display: flex;
  }

  .text-left-side {
    min-width: 16.197916666666668vw;
    font-size: 1.0416666666666665vw;
    line-height: 177.688%;
    /* 35.538px */
  }

  .text-right-side {
    width: 24.895833333333332vw;
    font-size: 1.0416666666666665vw;
    font-weight: 600;
    line-height: 177.688%;
    word-wrap: break-word;
    /* 35.538px */
  }

  .text-right-side span {
    font-size: 1.0416666666666665vw;
    line-height: 177.688%;
    word-wrap: break-word;
    /* 35.538px */
  }

  .place {
    margin-bottom: 2.5925925925925926vh;
  }

  .description {
    font-size: 1.1458333333333333vw;
    font-weight: 300;
    line-height: 177.688%;
  }

  .photo-container {
    position: relative;
    display: inline-block;
  }

  .photo {
    width: 17.864583333333332vw;
    height: 15.277777777777779vh;
    border-radius: 20px;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 1.25vw;
    cursor: pointer;
    color: #1B1F3B;
  }

  .prev-button {
    left: 15px;
  }

  .next-button {
    right: 15px;
  }

  .photo button {
    background: none;
    border: none;
    font-size: 1.0416666666666665vw;
    cursor: pointer;
    margin: 0 0.52083vw;
  }

  .buttons .btn {
    width: 8.489583333333334vw;
    height: 5.0vh;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);

    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-family: Open Sans;
    font-size: 0.78125vw;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5925925925925926vh;

    margin-bottom: 5.092592592592593vh;
  }

  .buttons .approved {
    background: #FBFBF5;
    margin-right: 2.2395833333333335vw;
  }

  .buttons .deny {
    background: #E0E0D6;
  }

  .buttons .btn:hover,
  .return:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .buttons .btn:active,
  .return:active {
    background: #8EBD9D !important;
  }

  .return {
    width: 9.84375vw;
    height: 5.0vh;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
    margin-bottom: 7.12962962962963vh;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .popup img {
    width: 28.90625vw;
    height: 27.037037037037038vh;
  }
}