<app-header></app-header>
<div class="return-to-main">
  <a routerLink="/admin/main">
    <img src="assets/img/return-button.svg" alt="return-button" class="return-button">
  </a>
  <span>Вернуться на главную</span>
</div>

<div class="content-container">
  <h1>Все заявки на продвижение места</h1>


  <div class="input-containers">
    <div class="status">
      <div class="position-container" (click)="toggleDropdownDate()"
        [ngClass]="{'type-select--active': dropdownOpenDate}">
        <div>
          <div class="status-label">Дата</div>
          <div class="position-label"> {{ selectedDate }} </div>
        </div>
        <div class="type-select__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.29289 5.29289C1.68342 4.90237 2.31658 4.90237 2.70711 5.29289L6 8.58579L9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289C11.0976 5.68342 11.0976 6.31658 10.7071 6.70711L6.70711 10.7071C6.31658 11.0976 5.68342 11.0976 5.29289 10.7071L1.29289 6.70711C0.902369 6.31658 0.902369 5.68342 1.29289 5.29289Z"
              fill="#1B1F3B" fill-opacity="0.8" />
          </svg>
        </div>

        <div class="position-dropdown small" [ngClass]="{'show': dropdownOpenDate}">
          <div class="position-option" *ngFor="let date of dates" (click)="toggleDate(date)"
            [ngClass]="{'position-option--selected': date === selectedDate}">
            <img src="assets/img/filter-single-default.svg" alt="filter" *ngIf="date !== selectedDate">
            <img src="assets/img/filter-single-checked.svg" alt="filter" *ngIf="date === selectedDate">
            {{ date }}
          </div>
        </div>
      </div>
    </div>

    <div class="status">
      <div class="position-container" (click)="toggleDropdownStatus()"
        [ngClass]="{'type-select--active': dropdownOpenStatus}">
        <div>
          <div class="status-label">Статус</div>
          <div class="position-label"> {{ rolesMap[selectedRole] }} </div>
        </div>
        <div class="type-select__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1.29289 5.29289C1.68342 4.90237 2.31658 4.90237 2.70711 5.29289L6 8.58579L9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289C11.0976 5.68342 11.0976 6.31658 10.7071 6.70711L6.70711 10.7071C6.31658 11.0976 5.68342 11.0976 5.29289 10.7071L1.29289 6.70711C0.902369 6.31658 0.902369 5.68342 1.29289 5.29289Z"
              fill="#1B1F3B" fill-opacity="0.8" />
          </svg>
        </div>

        <div class="position-dropdown" [ngClass]="{'show': dropdownOpenStatus}">
          <div class="position-option" *ngFor="let role of roles" (click)="toggleRole(role)"
            [ngClass]="{'position-option--selected': role === selectedRole}">
            <img src="assets/img/filter-single-default.svg" alt="filter" *ngIf="role !== selectedRole">
            <img src="assets/img/filter-single-checked.svg" alt="filter" *ngIf="role === selectedRole">
            {{ rolesMap[role] }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="applications-container">
    <div class="content-header">
      <h5>Название</h5>
      <h5>Дата получения заявки</h5>
    </div>

    <ul class="cards">
      <li class="card-li" *ngFor="let ad of filteredAds">
        <div class="card" *ngIf="ad.status == 'На проверке' || ad.status == null">
          <div class="first-block__card">
            <p class="card-title">
              <a [routerLink]="['/main', ad.id_place]">{{ad.name}}</a>
            </p>
            <p class="adress">
              {{ad.address}}
            </p>
          </div>
          <div class="second-block__card">
            <h4>{{ ad.date_from | date: 'dd.MM.yyyy' }}</h4>
          </div>
          <div class="third-block_card">
            <button class="watch-application" type="button" [routerLink]="['/admin/requests-to-app/request', ad.id]">
              <span>Рассмотреть заявку</span>
            </button>
          </div>
        </div>

        <div class="card denied" *ngIf="ad.status == 'Отказано'">
          <div class="first-block__card">
            <p class="card-title">
              <a [routerLink]="['/main', ad.id]">{{ad.name}}</a>
            </p>
            <p class="adress">
              {{ad.address}}
            </p>
          </div>
          <div class="second-block__card">
            <h4>{{ ad.date_from | date: 'dd.MM.yyyy' }}</h4>
          </div>
          <div class="information-description">
            <p class="highlighted-text" [routerLink]="['/admin/requests-to-app/request', ad.id]">
              Отклонена
            </p>
            <img src="assets/img/denied.svg" alt="denied">
          </div>
        </div>

        <div class="card approved" *ngIf="ad.status == 'Одобрено'">
          <div class="first-block__card">
            <p class="card-title">
              <a [routerLink]="['/main', ad.id]">{{ad.name}}</a>
            </p>
            <p class="adress">
              {{ad.address}}
            </p>
          </div>
          <div class="second-block__card">
            <h4>{{ ad.date_from | date: 'dd.MM.yyyy' }}</h4>
          </div>
          <div class="information-description">
            <p class="highlighted-text" [routerLink]="['/admin/requests-to-app/request', ad.id]"
              *ngIf="isActivePromo(ad.date_from, ad.date_to)">
              Одобрена
            </p>
            <p class="highlighted-text" [routerLink]="['/admin/requests-to-app/request', ad.id]"
              *ngIf="!isActivePromo(ad.date_from, ad.date_to)">
              Срок истёк
            </p>
            <img src="assets/img/approved.svg" alt="approved">
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
