@media screen and (max-width: 5000px) {
  .coworking {
    width: 58.33vw;
    height: 571px;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
    margin-bottom: 37px;
  }

  .coworking-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .coworking-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4583vw;
    color: #000000;
    margin-left: 2.8125vw;
    margin-right: 0.833vw;
  }

  .img-good-place {
    width: 22px;
    height: 22px;
  }

  .coworking-title-container {
    display: flex;
    margin-top: 26px;
    align-items: center;
  }

  .coworking-rating-container {
    display: flex;
    margin-right: 3.333vw;
  }

  .coworking-rating {
    font-family: 'Roboto';
    font-size: 1.25vw;
    margin-top: 33px;
    margin-right: 0.625vw;
  }

  .img-star {
    margin-top: 33px;
    width: 22px;
    height: 22px;
  }

  .coworking-info-container {
    display: flex;
  }

  .coworking-image img {
    margin-left: 2.8125vw;
    border-radius: 20px;
    margin-right: 2.65625vw;
    width: 25vw;
    height: 415px;
  }

  .coworking-description {
    width: 23.9583vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 177.69%;
    margin-bottom: 42px;
  }

  .coworking-adress-container {
    display: flex;
    gap: 1.5104vw;
    font-size: 1.04vw;
    margin-bottom: 28px;
    align-items: center;
  }

  .coworking-time-container {
    display: flex;
    gap: 1.35417vw;
    font-size: 1.0417vw;
    align-items: center;
  }

  .coworking-content {
    position: relative;
  }

  .coworking-map-and-favorite-container {
    display: flex;
    gap: 2.8125vw;
    position: absolute;
    bottom: 0;
  }

  .coworking-map:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .coworking-map:hover p {
    color: #000000;
  }

  .coworking-map:active {
    background: #8EBD9D !important;
  }

  .btn-like {
    height: 21px;
    margin-top: 20px;
  }

  .coworking-map {
    border-radius: 10px;
    width: 14.3229vw;
    height: 54px;
    text-align: center;
    background: #5E9C76;
    border: 0.5px solid #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  }

  .coworking-map p {
    font-size: 0.78125vw;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: 600;
  }

  .btn-like .heart {
    width: 21.5px;
    height: 24px;
  }
}

@media screen and (max-width: 1450px) {
  .coworking {
    height: calc(0.83*571px);
    margin-bottom: calc(0.83*37px);
  }

  .coworking-header-container {
    margin-bottom: calc(0.83*35px);
  }

  .coworking-title {
    font-size: calc(0.75*28px);
    margin-left: calc(0.75*54px);
    margin-right: calc(0.75*16px);
  }

  .coworking-title-container {
    margin-top: calc(0.83*26px);
  }

  .img-good-place {
    width: calc(0.75*22px);
    height: calc(0.75*22px);
  }

  .coworking-rating {
    margin-top: calc(0.83*33px);
  }

  .img-star {
    margin-top: calc(0.83*33px);
    width: calc(0.75*22px);
    height: calc(0.75*22px);
  }

  .coworking-image img {
    height: calc(0.83*415px);
  }

  .coworking-description {
    line-height: calc(0.83*177.69%);
    margin-bottom: calc(0.83*42px);
  }

  .coworking-adress-container {
    margin-bottom: calc(0.83*28px);
  }

  .btn-like {
    height: calc(0.83*21px);
    margin-top: calc(0.83*20px);
  }

  .coworking-map {
    height: calc(0.83*54px);
  }

  .coworking-map p {
    line-height: calc(0.83*28px);
  }

  .btn-like .heart {
    width: calc(0.71*21.5px);
    height: calc(0.83*24px);
  }
}

@media screen and (max-width: 1370px) {
  .coworking {
    width: calc(0.71*1120px);
    height: calc(0.71*571px);
    margin-bottom: calc(0.71*37px);
  }

  .coworking-header-container {
    margin-bottom: calc(0.71*35px);
  }

  .coworking-title {
    font-size: calc(0.71*28px);
    margin-left: calc(0.71*54px);
    margin-right: calc(0.71*16px);
  }

  .coworking-title-container {
    margin-top: calc(0.71*26px);
  }

  .img-good-place {
    width: calc(0.71*22px);
    height: calc(0.71*22px);
  }

  .coworking-rating-container {
    margin-right: calc(0.71*64px);
  }

  .coworking-rating {
    font-size: calc(0.71*24px);
    margin-top: calc(0.71*33px);
    margin-right: calc(0.71*12px);
  }

  .img-star {
    margin-top: calc(0.71*33px);
    width: calc(0.71*22px);
    height: calc(0.71*22px);
  }

  .coworking-image img {
    margin-left: calc(0.71*54px);
    margin-right: calc(0.71*51px);
    width: calc(0.71*480px);
    height: calc(0.71*415px);
  }

  .coworking-description {
    width: calc(0.71*460px);
    font-size: calc(0.71*24px);
    line-height: calc(0.71*177.69%);
    margin-bottom: calc(0.71*42px);
  }

  .coworking-adress-container {
    gap: calc(0.71*29px);
    font-size: calc(0.71*20px);
    margin-bottom: calc(0.71*28px);
  }

  .coworking-time-container {
    gap: calc(0.71*26px);
    font-size: calc(0.71*20px);
  }

  .coworking-map-and-favorite-container {
    gap: calc(0.71*54px);
  }

  .btn-like {
    height: calc(0.71*21px);
    margin-top: calc(0.71*20px);
  }

  .coworking-map {
    width: calc(0.71*275px);
    height: calc(0.71*54px);
  }

  .coworking-map p {
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);
  }

  .btn-like .heart {
    width: calc(0.71*21.5px);
    height: calc(0.71*24px);
  }
}