@media screen and (max-width: 5000px) {

  .pagination /deep/ .ngx-pagination .current {
    background: rgba(190, 218, 195, 0.7);
    border-radius: 10px;
  }

  .pagination /deep/ .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: rgba(190, 218, 195, 0.7);
    border-radius: 10px;
  }

  .wrapper {
    min-height: calc(100% - 150px);
  }

  .footer {
    margin-top: -300px;
    height: 27.77777777777778vh;
  }

  .return-to-main {
    display: flex;
    width: 9.375vw;
    margin-left: 8.75vw;
    margin-bottom: 6.018518518518518vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .main-top-content {
    display: flex;
    margin-left: 10.520833333333334vw;
    padding-bottom: 27.777vh;
  }

  .profile-navigation {
    width: 12.395833333333334vw;
    margin-right: 3.125vw;
    margin-top: 2.8703703703703702vh;
  }

  .profile-navigation li {
    font-size: 1.0416666666666665vw;
    line-height: 3.611vh;
    margin-bottom: 1.4814814814814816vh;
  }

  .profile-navigation li:last-child {
    margin-bottom: 0;
  }

  .top-information__header {
    margin-bottom: 3.981481481481482vh;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4583333333333333vw;
    line-height: 3.5185185185185186vh;
    color: #000000;
  }

  .wait-information {
    width: 67.70833333333334vw;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 3.5185185185185186vh;
    color: black;
  }

  .top-information__card {
    width: 55.729166666666664vw;
    height: 52.87037037037037vh;
    background: #D1E5D2;
    border-radius: 20px;
  }
}