<div class="wrapper">
  <app-header></app-header>

  <div class="return-to-main">
    <a routerLink="/">
      <img src="assets/img/return-button.svg" alt="return-button" class="return-button">
    </a>
    <span>Вернуться к поиску</span>
  </div>

  <div class="main-top-content" *ngIf="user">

    <div class="profile-navigation">
      <ul>
        <li style="border-right: solid 2px black ;"><a routerLink="/favourites">Избранное</a></li>
        <li><a routerLink="/profile">Настройки профиля</a></li>
        <li><a routerLink="/place-settings">Настройки мест</a></li>
        <li *ngIf="user.role_id == 2"><a routerLink="/ad-business">Продвижение</a></li>
      </ul>
    </div>
    <div class="top-information">
      <p class="top-information__header">Избранное</p>
      <app-coworkings-list
        *ngFor="let coworking of favoriteCoworkings | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } let i = index"
        [coworking]="coworking"></app-coworkings-list>

      <div class="pagination" *ngIf="favoriteCoworkings.length > 4">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>

      <p class="wait-information" *ngIf="favoriteCoworkings.length === 0">
        У вас пока нет избранных коворкингов. Вы можете добавить коворкинги в избранное на главной странице!
      </p>

    </div>
  </div>
</div>
<app-footer class="footer"></app-footer>