@media screen and (max-width: 5000px) {
  .return-to-main {
    display: flex;
    width: 9.375vw;
    margin-left: 8.75vw;
    margin-bottom: 6.018518518518518vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .wrapper {
    min-height: calc(100vh - 150px);
    /* 150px - отступ сверху футера */
  }

  .main-top-content {
    display: flex;
    margin-left: 10.520833333333334vw;
    margin-bottom: 9.25925925925926vh;
  }

  .profile-navigation {
    width: 12.395833333333334vw;
    margin-right: 3.125vw;
    margin-top: 2.8703703703703702vh;
  }

  .profile-navigation li {
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    margin-bottom: 1.4814814814814816vh;
  }

  .profile-navigation li:last-child {
    margin-bottom: 0;
  }

  .title {
    font-weight: 700;
    font-size: 1.4583333333333333vw;
    line-height: 3.5185185185185186vh;
    margin-bottom: 2.9629629629629632vh;
  }

  .description {
    display: inline-block;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 3.981481481481482vh;
    max-width: 55.729166666666664vw;
    margin-bottom: 2.7777777777777777vh;
  }

  .sort-applications-container {
    display: flex;
    align-items: center;
    margin-bottom: 2.037037037037037vh;
    width: 50.0vw;
  }

  .sort-applications-container h5 {
    color: #000;
    font-size: 1.3541666666666667vw;
    font-weight: 600;
    margin-right: 10.625vw;
    white-space: nowrap;
  }

  input {
    cursor: pointer;
  }

  .input-field select {
    border: none;
    width: 14.583333333333334vw;
    height: 5.0vh;
    padding-left: 0.9895833333333333vw;

    border-radius: 10px;
    color: #000;
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
    font-family: 'Open Sans';
    background: #E0E0D6;
  }

  .sort-applications-container .date {
    margin-right: 2.604166666666667vw;
  }

  .applications-container {
    width: 50.0vw;
    border-radius: 10px;
    border: 10px solid #D1E5D2;
  }

  .applications-table {
    margin-top: 3.6111111111111107vh;
    margin-left: 3.0208333333333335vw;
    margin-right: 3.0208333333333335vw;
  }

  .applications-table .table-head-name {
    padding-bottom: 7.407407vh;
  }

  .applications-table th {
    color: #000;
    font-size: 1.25vw;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
  }

  .applications-table th,
  .applications-table td {
    padding-right: 2.23958vw;
    box-sizing: border-box;
    /* учитываем padding в общей ширине */
  }

  .applications-table .place-name {
    color: #000;
    font-size: 1.3020833333333335vw;
    font-weight: 700;
  }

  .applications-table .first-block {
    max-width: 15.625vw;
  }

  .applications-table .place-address {
    color: #000;
    font-size: 0.78125vw;
    line-height: 177.688%;
  }

  .applications-table td:not(:first-child) {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
  }

  .applications-table tbody {
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  .applications-table {
    margin-bottom: 3.7037037037037033vh;
  }


  .applications-table .centered-cell {
    text-align: left;
  }

  .applications-table .centered-cell img {
    vertical-align: middle;
    margin-left: 0.46875vw;
    width: 1.40625vw;
    height: 2.5vh;
  }

  .input-containers {
    display: flex;
    gap: 2.5vw;
  }

  .status {
    width: 14.583333333333334vw;
  }

  .status .position-container {
    border: none;
    width: 14.583333333333334vw;
    height: 5.0vh;
    padding-left: 0.9895833333333333vw;
    border-radius: 10px;
    background: #E0E0D6;
    box-sizing: border-box;
  }

  .status .position-container .position-label {
    font-size: 0.78125vw;
    font-weight: 600;
    line-height: 2.5925925925925926vh;
  }

  .status .position-container .status-label {
    color: var(--text-03, rgba(27, 31, 59, 0.40));
    font-size: 0.78125vw;
    font-weight: 600;
  }

  .position-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.52vw;
    position: relative;
  }

  .type-select__icon {
    padding-right: 1.30208vw;
    transition: transform 0.3s linear;
  }

  .type-select--active .type-select__dropdown {
    display: inline-block;
    opacity: 1;
  }

  .type-select--active .type-select__icon {
    transform: rotateX(180deg);
  }

  .position-dropdown {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    margin-top: 0.4629629629629629vh;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    background: #E0E0D6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    /* padding: 0.926vh 0; */
    width: 100%;
    transition: opacity 0.2s ease-out, height 0.2s ease-out;
  }

  .dropdown-status {
    height: 275px;
  }

  .dropdown-date {
    height: 110px;
  }

  .position-dropdown.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .position-option {
    padding: 1.11vh 1.04vw;
    cursor: pointer;
    font-size: 0.834vw;
    font-weight: 400;
    line-height: 1.85vh;
    display: flex;
    gap: 0.52083vw;
    align-items: center;
  }

  .position-option:hover {
    opacity: 0.5;
  }

  .position-option:active {
    /* background-color: greenyellow; */
  }

  .position-option:active,
  .position-option--selected {
    /* background-color: greenyellow; */
  }

  .highlighted-text {
    text-decoration: underline 1px;
    cursor: pointer;
    white-space: nowrap;
  }

  .tooltip {
    visibility: hidden;
    width: 18.75vw;
    background: #FFFFD7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-left: 8.333333333333332vw;
    margin-top: 3.2407407407407405vh;
    transform: translateX(-50%);
    opacity: 0;
    transition: ease-in-out 0.3s;
  }

  .tooltip-text {
    text-align: center;
    font-size: 0.78125vw;
    font-weight: 300;
    line-height: normal;
    padding: 1.29629vh 1.770833vw 0.9259vh 1.927083vw;
  }

  .information-description:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .information-description {
    display: flex;
  }

  .icon {
    width: 0.625vw;
    height: 0.8333vw;
  }

}