<app-header></app-header>

<div class="return">
  <a routerLink='/main'>
    <img src="assets/img/return-button.svg" alt="return-button">
    Вернуться к списку
  </a>
</div>

<form class="card-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="card-title">Карточка заведения</h1>

  <div class="input-field name" [ngClass]="{'invalid': form.get('name')?.invalid && form.get('name')?.touched}">
    <input id="name" placeholder="Название заведения" type="text" formControlName="name">
    <label for="name"></label>
    <span class="helper-text red-text" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      <span *ngIf="form.get('name')?.errors?.['required']">Обязательное поле</span>
    </span>

  </div>

  <div class="input-field city" [ngClass]="{'invalid': form.get('city')?.invalid && form.get('city')?.touched}">
    <input id="city" placeholder="Город" type="text" formControlName="city">
    <label for="city"></label>
    <span class="helper-text red-text" *ngIf="form.get('city')?.invalid && form.get('city')?.touched">
      <span *ngIf="form.get('city')?.errors?.['required']">Обязательное поле</span>
    </span>
  </div>

  <div class="flex">
    <div class="input-field district"
      [ngClass]="{'invalid': form.get('district')?.invalid && form.get('district')?.touched}">
      <input id="district" placeholder="Район" type="text" formControlName="district">
      <label for="district"></label>
      <span class="helper-text red-text" *ngIf="form.get('district')?.invalid && form.get('district')?.touched">
        <span *ngIf="form.get('district')?.errors?.['required']">Обязательное поле</span>
      </span>
    </div>

    <div class="input-field address"
      [ngClass]="{'invalid': form.get('address')?.invalid && form.get('address')?.touched}">
      <input id="address" placeholder="Адрес" type="text" formControlName="address">
      <label for="address"></label>
      <span class="helper-text red-text" *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
        <span *ngIf="form.get('address')?.errors?.['required']">Обязательное поле</span>
      </span>
    </div>
  </div>

  <div class="description"
    [ngClass]="{'invalid': form.get('description')?.invalid && form.get('description')?.touched}">
    <input class="description-input" id="description" placeholder="Описание" formControlName="description">
    <label for="description"></label>
    <span class="helper-text red-text description-warning"
      *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
      <span *ngIf="form.get('description')?.errors?.['required']">Обязательное поле</span>
    </span>
  </div>

  <div class="filters">
    <h1>Фильтры</h1>

    <div class="input-field workHours">
      <select id="workHours" placeholder="Часы работы" formControlName="workHours">
        <option value="" disabled selected hidden>Часы работы</option>
        <option value="Круглосуточно">Круглосуточно</option>
        <option value="По будням">По будням</option>
      </select>
    </div>

    <div class="flex">
      <div class="input-field type">
        <select id="type" placeholder="Тип заведения" formControlName="type">
          <option value="" disabled selected hidden>Тип заведения</option>
          <option value="Рабочий офис">Рабочий офис</option>
          <option value="Антикафе">Антикафе</option>
          <option value="Кафе">Кафе</option>
        </select>
      </div>

      <div class="input-field price" [ngClass]="{'invalid': form.get('price')?.invalid && form.get('price')?.touched}">
        <select id="price" placeholder="Стоимость" formControlName="price">
          <option value="" disabled selected hidden>Стоимость</option>
          <option value="Бесплатно">Бесплатно</option>
          <option value="Платно">Платно</option>
        </select>
        <span class="helper-text red-text" *ngIf="form.get('price')?.invalid && form.get('price')?.touched">
          <span *ngIf="form.get('price')?.errors?.['required']">Обязательное поле</span>
        </span>
      </div>
    </div>

    <div class="filter-tags">
      <span>Дополнительно</span>
      <div class="tags-container">
        <div class="tags-input">
          <h5>Теги</h5>

          <div class="dropdown">
            <div class="dropdown-menu" [ngClass]="{'show': ifClicked}">
              <button type="button" class="dropdown-link" *ngFor="let tag of tags"
                [class.active]="selectedTags.includes(tag)" (click)="toggleTag(tag)">
                {{ tag }}
              </button>
            </div>
          </div>

          <div class="pressed-tags">
            <div class="pressed-tag" *ngFor="let selectedTag of selectedTags">
              <button type="button" (click)="toggleTag(selectedTag)">
                <img src="assets/img/close-tag-button.svg" alt="close-tag">
              </button>
              {{ selectedTag }}
            </div>
          </div>

          <div>
            <button type="button" class="btn-settings" (click)="ifClicked = !ifClicked">
              <img src="assets/img/settings.svg" alt="settings" width="13" height="13">
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="filter-labels filter-parking">
      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_single" id="parking" name="parking" value="parking"
          formControlName="parking">
        <label for="parking">
          <span>Парковка</span>
        </label>
      </div>
    </div>

    <div class="filter-labels filter-restzone">
      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_single" id="restzone" name="restzone" value="restzone"
          formControlName="restzone">
        <label for="restzone">
          <span>Зона отдыха</span>
        </label>
      </div>
    </div>

    <div class="filter-labels filter-conference">
      <div class="radio">
        <input type="checkbox" class="custom-radio custom-radio_single" id="conference" name="conference"
          value="conference" formControlName="conference">
        <label for="conference">
          <span>Наличие конференц-зала</span>
        </label>
      </div>
    </div>

  </div>

  <div class="contacts">

    <h1>Контакты</h1>

    <div class="input-field phone">
      <input id="phone" placeholder="Телефон заведения" type="text" formControlName="phone">
      <label for="phone"></label>
    </div>

    <div class="input-field email">
      <input id="email" placeholder="Электронная почта" type="email" formControlName="email">
      <label for="email"></label>
    </div>

    <div class="input-field site">
      <input id="site" placeholder="Сайт" type="text" formControlName="site">
      <label for="site"></label>
    </div>

  </div>

  <div class="photo-container">
    <h1>Фотографии</h1>
    <h2>Добавьте минимум 3 фотографии</h2>

    <div class="photo">
      <div class="first-photo">
        <input id="photo" class="dn" type="file" (change)="onFileUpload($event)" #input>
        <label for="photo"></label>
        <button class="btn-first-photo" type="button" (click)="triggerClick()" [disabled]="form.disabled">+</button>
        <img class="preview-img" [src]="imagePreview" *ngIf="imagePreview">
      </div>

      <!-- <div class="second-photo">
        <input id="photo" class="dn" placeholder="Фото" type="file" formControlName="photo"
          (change)="onFileUpload($event)" #input>
        <label for="photo"></label>
        <button class="btn-second-photo" type="button" (click)="triggerClick()" [disabled]="form.disabled">+</button>
        <img class="preview-img" [src]="imagePreview" *ngIf="imagePreview">
      </div> -->

    </div>
  </div>

  <div class="buttons-submit">

    <button class="button-add" type="submit" [disabled]="form.invalid || form.disabled">{{isNew ? 'Добавить':
      'Сохранить'}}</button>
    <button (click)="isNew ? returnToMain() : deleteCategory()" class="button-return" type="button">{{isNew ? 'Отмена' :
      'Удалить'}}</button>

  </div>

</form>

<p>Form Value: {{form.value | json}}</p>

<app-footer></app-footer>
