.custom-radio_single:checked+label::before {
  background-image: url("../../../assets/img/filter-single-checked.svg");
}

.custom-radio_single:disabled+label::before {
  background-image: url("../../../assets/img/filter-single-default.svg");
}

.custom-radio_single+label::before {
  background-image: url("../../../assets/img/filter-single-default.svg");
}

@media screen and (max-width: 5000px) {

  .return-to-main {
    display: flex;
    width: 20.833333333333336vw;
    margin-left: 8.75vw;
    margin-bottom: 6.018518518518518vh;
    margin-top: 1.6666666666666667vh;
    align-items: center;
  }

  .return-button {
    margin-right: 0.9375vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 0.8333333333333334vw;
    height: 1.4814814814814816vh;
  }

  .return-to-main span {
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    color: rgba(27, 31, 59, 0.65);
  }

  .card-container {
    width: 62.81250000000001vw;
    margin-left: 18.541666666666668vw;
  }

  .card-title {
    font-weight: 700;
    font-size: 1.4583333333333333vw;
    line-height: 3.5185185185185186vh;
    margin-bottom: 2.9629629629629632vh;
  }

  .flex {
    display: flex;
    gap: 4.2708vw;
  }

  input {
    cursor: pointer;
  }

  .input-field {
    width: 29.166666666666668vw;
    height: 5.7407407407407405vh;
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: 1.8518518518518516vh;
  }

  .input-field input {
    width: 27.083333333333332vw;
    height: 4.814814814814815vh;
    font-weight: 400;
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    padding-left: 1.4583333333333333vw;
    margin-top: 0.3703703703703704vh;
    margin-left: 0.26041666666666663vw;
    background: inherit;
    border-radius: 10px;
  }

  .description {
    display: inline-block;
    position: relative;
    width: 62.5vw;
    height: 25.833333333333336vh;
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: 2.9629629629629632vh;
    vertical-align: bottom;
  }

  .description-input {
    width: 60.677083333333336vw;
    font-weight: 300;
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    padding-left: 1.4583333333333333vw;
    margin-top: 0.4629629629629629vh;
    margin-left: 0.10416666666666667vw;
    background: inherit;
    border-radius: 10px;
  }

  .filters h1 {
    font-weight: 600;
    font-size: 1.3541666666666667vw;
    line-height: 3.2407407407407405vh;
    margin-bottom: 2.7777777777777777vh;
  }

  .input-field select {
    border: none;
    width: 28.645833333333332vw;
    height: 4.814814814814815vh;
    font-weight: 300;
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    padding-left: 1.4583333333333333vw;
    margin-top: 0.3703703703703704vh;
    margin-left: 0.26041666666666663vw;
    background: #E0E0D6;
    border-radius: 10px;
  }

  .filter-tags {
    position: relative;
    width: 62.39583333333333vw;
    height: 17.037037037037038vh;
    margin-bottom: 2.2222222222222223vh;
  }

  .filter-tags .extra-information {
    font-weight: 600;
    font-size: 1.0416666666666665vw;
    line-height: 2.5vh;
  }

  .filter-tags h5 {
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    color: rgba(27, 31, 59, 0.4);
  }

  .pressed-tags {
    margin-top: 1.2962962962962963vh;
    display: flex;
    gap: 1.14583vw;
  }

  .pressed-tag {
    text-align: center;
    min-width: 4.166666666666666vw;
    max-width: 8.854166666666668vw;
    font-size: 1.0416666666666665vw;
    line-height: 177.69%;
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all .2s ease-out;
  }

  .pressed-tag img {
    width: 0.5729166666666666vw;
    height: 1.0185185185185186vh;
  }

  .tags-input {
    padding-left: 1.3541666666666667vw;
  }

  .tags-container {
    position: absolute;
    bottom: 0;
    width: 62.39583333333333vw;
    height: 13.425925925925927vh;
    background: #D1E5D2;
    border-radius: 10px;
  }

  .btn-settings {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .btn-settings img {
    width: 0.6770833333333334vw;
    height: 1.2037037037037037vh;
  }

  .dropdown {
    position: absolute;
    right: 20px;
    top: 40px;
  }

  .dropdown-menu {
    padding-top: 1.11111vh;
    padding-left: 0.625vw;
    padding-right: 0.625vw;
    background: #FBFBF5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-out;
  }

  .dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu button:hover {
    opacity: 1;
  }

  .dropdown-link {
    margin-bottom: 1.1111111111111112vh;
    display: block;
    color: #494C62;
    padding: 11px 11px;
    opacity: 0.7;

    box-sizing: border-box;
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .dropdown-link .tag-name {
    font-size: 0.8333333333333334vw;
  }

  .photo-container {
    width: 51.758333333333326vw;
    margin-bottom: 6.481481481481481vh;
  }

  .photo {
    display: flex;
    gap: 3.64583vw;
  }

  .photo .first-photo {
    width: 32.3203125vw;
    height: 33.7037037037037vh;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
  }

  .photo .second-photo,
  .photo .third-photo {
    width: 15.833333333333332vw;
    height: 15.277777777777779vh;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
    margin-bottom: 3.148148148148148vh;
  }

  .btn-first-photo {
    position: absolute;
    width: 32.3203125vw;
    height: 33.7037037037037vh;
  }

  .btn-second-photo,
  .btn-third-photo {
    position: absolute;
    width: 15.833333333333332vw;
    height: 15.277777777777779vh;
  }

  .preview-img1 {
    width: 32.3203125vw;
    height: 33.7037037037037vh;
    border-radius: 20px;
  }

  .preview-img2,
  .preview-img3 {
    width: 15.833333333333332vw;
    height: 15.277777777777779vh;
    border-radius: 20px;
  }

  .photo-container h1 {
    font-weight: 600;
    font-size: 1.3541666666666667vw;
    line-height: 3.2407407407407405vh;
    margin-bottom: 1.1111111111111112vh;
  }

  .photo-container h2 {
    font-weight: 300;
    font-size: 0.78125vw;
    line-height: 1.8518518518518516vh;
    margin-bottom: 2.5925925925925926vh;
  }

  .dn {
    display: none;
  }

  .btn-photo {}

  .buttons-submit {
    position: relative;
    display: flex;
    gap: 1.927083vw;
    margin-bottom: 13.88888888888889vh;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .popup img {
    width: 28.90625vw;
    height: 27.037037037037038vh;
  }

  .button-add {
    width: 11.458333333333332vw;
    height: 5.0vh;
    background-color: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    color: rgba(27, 31, 59, 0.60);
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    font-weight: 600;
  }

  .button-return {
    width: 11.458333333333332vw;
    height: 5.0vh;
    border: 1px solid #EDEDED;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.16));
    border-radius: 10px;

    color: rgba(27, 31, 59, 0.60);
    font-size: 0.78125vw;
    line-height: 2.5925925925925926vh;
    font-weight: 600;
  }

  .button-add:hover,
  .button-return:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .button-add:active,
  .button-return:active {
    background: #8EBD9D !important;
  }

  .filter-labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4814814814814816vh;
  }

  .filter-conference {
    margin-bottom: 2.9629629629629632vh;
  }

  .contacts h1 {
    font-weight: 600;
    font-size: 1.3541666666666667vw;
    line-height: 3.2407407407407405vh;
    margin-bottom: 2.7777777777777777vh;
  }


  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 1.1458333333333333vw;
    line-height: 2.7777777777777777vh;
    font-weight: 400;
  }

  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1.1770833333333335vw;
    height: 2.2222222222222223vh;
    margin-right: 0.9895833333333333vw;
    margin-left: 0.78125vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .red-text {
    font-size: 0.625vw;
    display: inline-block;
    color: red;
    padding-top: 0.9259vh;
  }

  .invalid {
    border: 1px #CC0000 solid;
  }

  .description-warning {
    padding-top: 21.296296vh;
    padding-left: 0.5208333333333333vw;
  }

  .close-tag {
    width: 1.25vw;
    height: 1.25vw;
  }
}