.custom-radio_single:checked+label::before {
  background-image: url("../../../assets/img/filter-single-checked.svg");
}

.custom-radio_single:disabled+label::before {
  background-image: url("../../../assets/img/filter-single-default.svg");
}

.custom-radio_single+label::before {
  background-image: url("../../../assets/img/filter-single-default.svg");
}

@media screen and (max-width: 5000px) {

  .return-to-main {
    display: flex;
    width: 400px;
    margin-left: 168px;
    margin-bottom: 65px;
    margin-top: 18px;
    align-items: center;
  }

  .return-button {
    margin-right: 18px;
    margin-top: auto;
    margin-bottom: auto;
    width: 16px;
    height: 16px;
  }

  .return-to-main span {
    font-size: 15px;
    line-height: 20px;
    color: rgba(27, 31, 59, 0.65);
  }

  .card-container {
    width: 1206px;
    margin-left: 356px;
  }

  .card-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 32px;
  }

  .flex {
    display: flex;
    gap: 82px;
  }

  input {
    cursor: pointer;
  }

  .input-field {
    width: 560px;
    height: 62px;
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: 20px;
  }

  .input-field input {
    width: 520px;
    height: 52px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    padding-left: 28px;
    margin-top: 4px;
    margin-left: 5px;
    background: inherit;
    border-radius: 10px;
  }

  .description {
    display: inline-block;
    position: relative;
    width: 1200px;
    height: 279px;
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: 32px;
    vertical-align: bottom;
  }

  .description-input {
    width: 1165px;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    padding-left: 28px;
    margin-top: 5px;
    margin-left: 2px;
    background: inherit;
    border-radius: 10px;
  }

  .filters h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .input-field select {
    border: none;
    width: 550px;
    height: 52px;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    padding-left: 28px;
    margin-top: 4px;
    margin-left: 5px;
    background: #E0E0D6;
    border-radius: 10px;
  }

  .filter-tags {
    position: relative;
    width: 1198px;
    height: 184px;
    margin-bottom: 24px;
  }

  .filter-tags span {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
  }

  .filter-tags h5 {
    font-size: 15px;
    line-height: 28px;
    color: rgba(27, 31, 59, 0.4);
  }

  .pressed-tags {
    margin-top: 14px;
    display: flex;
    gap: 22px;
  }

  .pressed-tag {

    text-align: center;
    min-width: 80px;
    max-width: 170px;
    font-size: 20px;
    line-height: 177.69%;
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all .2s ease-out;
  }

  .tags-input {
    padding-left: 26px;
  }

  .tags-container {
    position: absolute;
    bottom: 0;
    width: 1198px;
    height: 145px;
    background: #D1E5D2;
    border-radius: 10px;
  }

  .btn-settings {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .dropdown {
    position: absolute;
    right: 20px;
    top: 40px;
  }

  .dropdown-menu {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #FBFBF5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-out;
  }

  .dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu button:hover {
    opacity: 1;
  }

  .dropdown-link {
    margin-bottom: 12px;
    display: block;
    color: #494C62;
    padding: 11px 11px;
    opacity: 0.7;

    box-sizing: border-box;
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .photo-container {
    width: 993.76px;
    margin-bottom: 70px;
  }

  .photo {
    display: flex;
    gap: 70px;
  }

  .photo .first-photo {
    width: 620.55px;
    height: 364px;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
  }

  .photo .second-photo,
  .photo .third-photo {
    width: 304px;
    height: 165px;
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
    margin-bottom: 34px;
  }

  .btn-first-photo {
    position: absolute;
    width: 620.55px;
    height: 364px;
  }

  .btn-second-photo,
  .btn-third-photo {
    position: absolute;
    width: 304px;
    height: 165px;
  }

  .preview-img1 {
    width: 620.55px;
    height: 364px;
    border-radius: 20px;
  }

  .preview-img2,
  .preview-img3 {
    width: 304px;
    height: 165px;
    border-radius: 20px;
  }

  .photo-container h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 12px;
  }

  .photo-container h2 {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 28px;
  }

  .dn {
    display: none;
  }

  .btn-photo {}

  .buttons-submit {
    position: relative;
    display: flex;
    gap: 37px;
    margin-bottom: 150px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }

  .popup img {
    width: 555px;
    height: 292px;
  }

  .button-add {
    width: 220px;
    height: 54px;
    background-color: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
  }

  .button-return {
    width: 220px;
    height: 54px;
    border: 1px solid #EDEDED;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.16));
    border-radius: 10px;
  }

  .button-add:hover,
  .button-return:hover {
    background-color: #EDFAED;
    outline: 1px solid #6A6D79;
  }

  .button-add:active,
  .button-return:active {
    background: #8EBD9D !important;
  }

  .filter-labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .filter-conference {
    margin-bottom: 32px;
  }

  .contacts h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 30px;
  }


  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
  }

  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 22.6px;
    height: 24px;
    margin-right: 19px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .red-text {
    font-size: 12px;
    display: inline-block;
    color: red;
    padding-top: 10px;
  }

  .invalid {
    border: 1px #CC0000 solid;
  }

  .description-warning {
    padding-top: 230px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1450px) {

  .return-to-main {
    width: calc(0.75*400px);
    margin-left: calc(0.75*168px);
    margin-bottom: calc(0.83*65px);
    margin-top: calc(0.83*18px);
  }

  .return-button {
    margin-right: calc(0.75*18px);
    width: calc(0.75*16px);
    height: calc(0.83*16px);
  }

  .return-to-main span {
    font-size: calc(0.75*15px);
    line-height: calc(0.83*20px);
  }

  .card-container {
    width: calc(0.75*1206px);
    margin-left: calc(0.75*356px);
  }

  .card-title {
    font-weight: 700;
    font-size: calc(0.75*28px);
    line-height: calc(0.83*38px);
    margin-bottom: calc(0.83*32px);
  }

  .flex {
    display: flex;
    gap: calc(0.75*82px);
  }

  input {
    cursor: pointer;
  }

  .input-field {
    width: calc(0.75*560px);
    height: calc(0.83*62px);
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: calc(0.83*20px);
  }

  .input-field input {
    width: calc(0.75*520px);
    height: calc(0.83*52px);
    font-weight: 400;
    font-size: calc(0.75*15px);
    line-height: calc(0.83*28px);
    padding-left: calc(0.75*28px);
    margin-top: calc(0.83*4px);
    margin-left: calc(0.75*5px);
    background: inherit;
    border-radius: 10px;
  }

  .description {
    display: inline-block;
    position: relative;
    width: calc(0.75*1200px);
    height: calc(0.83*279px);
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: calc(0.83*32px);
    vertical-align: bottom;
  }

  .description-input {
    width: calc(0.75*1165px);
    font-weight: 300;
    font-size: calc(0.75*15px);
    line-height: calc(0.83*28px);
    padding-left: calc(0.75*28px);
    margin-top: calc(0.83*5px);
    margin-left: calc(0.75*2px);
    background: inherit;
    border-radius: 10px;
  }

  .filters h1 {
    font-weight: 600;
    font-size: calc(0.75*26px);
    line-height: calc(0.83*35px);
    margin-bottom: calc(0.83*30px);
  }

  .input-field select {
    border: none;
    width: calc(0.75*550px);
    height: calc(0.83*52px);
    font-weight: 300;
    font-size: calc(0.75*15px);
    line-height: calc(0.83*28px);
    padding-left: calc(0.75*28px);
    margin-top: calc(0.83*4px);
    margin-left: calc(0.75*5px);
    background: #E0E0D6;
    border-radius: 10px;
  }

  .filter-tags {
    position: relative;
    width: calc(0.75*1198px);
    height: calc(0.83*184px);
    margin-bottom: calc(0.83*24px);
  }

  .filter-tags span {
    font-weight: 600;
    font-size: calc(0.75*20px);
    line-height: calc(0.83*27px);
  }

  .filter-tags h5 {
    font-size: calc(0.75*15px);
    line-height: calc(0.83*28px);
    color: rgba(27, 31, 59, 0.4);
  }

  .pressed-tags {
    margin-top: calc(0.83*14px);
    display: flex;
    gap: calc(0.75*22px);
  }

  .pressed-tag {

    text-align: center;
    min-width: calc(0.75*80px);
    max-width: calc(0.75*170px);
    font-size: calc(0.75*20px);
    line-height: calc(0.83*177.69%);
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all .2s ease-out;
  }

  .tags-input {
    padding-left: calc(0.75*26px);
  }

  .tags-container {
    position: absolute;
    bottom: 0;
    width: calc(0.75*1198px);
    height: calc(0.83*145px);
    background: #D1E5D2;
    border-radius: 10px;
  }

  .btn-settings {
    position: absolute;
    right: calc(0.75*20px);
    top: calc(0.83*20px);
  }

  .dropdown {
    position: absolute;
    right: calc(0.75*20px);
    top: calc(0.83*40px);
  }

  .dropdown-menu {
    padding-top: calc(0.83*12px);
    padding-left: calc(0.75*12px);
    padding-right: calc(0.75*12px);
    background: #FBFBF5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-out;
  }

  .dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu button:hover {
    opacity: 1;
  }

  .dropdown-link {
    margin-bottom: calc(0.83*12px);
    display: block;
    color: #494C62;
    padding: calc(0.83*11px) calc(0.75*11px);
    opacity: 0.7;

    box-sizing: border-box;
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .photo-container {
    width: calc(0.75*993.76px);
    margin-bottom: calc(0.83*70px);
  }

  .photo {
    gap: calc(0.75*70px);
  }

  .photo .first-photo {
    width: calc(0.75*620.55px);
    height: calc(0.83*364px);
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
  }

  .photo .second-photo,
  .photo .third-photo {
    width: calc(0.75*304px);
    height: calc(0.83*165px);
    margin-bottom: calc(0.83*34px);
  }

  .btn-first-photo {
    width: calc(0.75*620.55px);
    height: calc(0.83*364px);
  }

  .btn-second-photo,
  .btn-third-photo {
    position: absolute;
    width: calc(0.75*304px);
    height: calc(0.83*165px);
  }

  .preview-img1 {
    width: calc(0.75*620.55px);
    height: calc(0.83*364px);
    border-radius: 20px;
  }

  .preview-img2,
  .preview-img3 {
    width: calc(0.75*304px);
    height: calc(0.83*165px);
  }

  .photo-container h1 {
    font-weight: 600;
    font-size: calc(0.75*26px);
    line-height: calc(0.83*35px);
    margin-bottom: calc(0.83*12px);
  }

  .photo-container h2 {
    font-weight: 300;
    font-size: calc(0.75*15px);
    line-height: calc(0.83*20px);
    margin-bottom: calc(0.83*28px);
  }

  .dn {
    display: none;
  }

  .btn-photo {}

  .buttons-submit {
    display: flex;
    gap: calc(0.75*37px);
    margin-bottom: calc(0.83*150px);
  }

  .popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup img {
    width: calc(0.75*555px);
    height: calc(0.83*292px);
  }

  .button-add {
    width: calc(0.75*220px);
    height: calc(0.83*54px);
    background-color: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
  }

  .button-return {
    width: calc(0.75*220px);
    height: calc(0.83*54px);
    border: 1px solid #EDEDED;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.16));
    border-radius: 10px;
  }



  .filter-labels {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(0.83*16px);
  }

  .filter-conference {
    margin-bottom: calc(0.83*32px);
  }

  .contacts h1 {
    font-weight: 600;
    font-size: calc(0.75*26px);
    line-height: calc(0.83*35px);
    margin-bottom: calc(0.83*30px);
  }


  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: calc(0.75*22px);
    line-height: calc(0.83*30px);
    font-weight: 400;
  }

  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: calc(0.75*22.6px);
    height: calc(0.83*24px);
    margin-right: calc(0.75*19px);
    margin-left: calc(0.75*15px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .red-text {
    font-size: calc(0.75*12px);
    display: inline-block;
    color: red;
    padding-top: calc(0.83*10px);
  }

  .invalid {
    border: 1px #CC0000 solid;
  }

  .description-warning {
    padding-top: calc(0.83*230px);
    padding-left: calc(0.75*10px);
  }
}

@media screen and (max-width: 1370px) {

  .return-to-main {
    width: calc(0.71*400px);
    margin-left: calc(0.71*168px);
    margin-bottom: calc(0.71*65px);
    margin-top: calc(0.71*18px);
  }

  .return-button {
    margin-right: calc(0.71*18px);
    width: calc(0.71*16px);
    height: calc(0.71*16px);
  }

  .return-to-main span {
    font-size: calc(0.71*15px);
    line-height: calc(0.71*20px);
  }

  .card-container {
    width: calc(0.71*1206px);
    margin-left: calc(0.71*356px);
  }

  .card-title {
    font-weight: 700;
    font-size: calc(0.71*28px);
    line-height: calc(0.71*38px);
    margin-bottom: calc(0.71*32px);
  }

  .flex {
    display: flex;
    gap: calc(0.71*82px);
  }

  input {
    cursor: pointer;
  }

  .input-field {
    width: calc(0.71*560px);
    height: calc(0.71*62px);
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: calc(0.71*20px);
  }

  .input-field input {
    width: calc(0.71*520px);
    height: calc(0.71*52px);
    font-weight: 400;
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);
    padding-left: calc(0.71*28px);
    margin-top: calc(0.71*4px);
    margin-left: calc(0.71*5px);
    background: inherit;
    border-radius: 10px;
  }

  .description {
    display: inline-block;
    position: relative;
    width: calc(0.71*1200px);
    height: calc(0.71*279px);
    border-radius: 20px;
    background: #E0E0D6;
    margin-bottom: calc(0.71*32px);
    vertical-align: bottom;
  }

  .description-input {
    width: calc(0.71*1165px);
    font-weight: 300;
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);
    padding-left: calc(0.71*28px);
    margin-top: calc(0.71*5px);
    margin-left: calc(0.71*2px);
    background: inherit;
    border-radius: 10px;
  }

  .filters h1 {
    font-weight: 600;
    font-size: calc(0.71*26px);
    line-height: calc(0.71*35px);
    margin-bottom: calc(0.71*30px);
  }

  .input-field select {
    border: none;
    width: calc(0.71*550px);
    height: calc(0.71*52px);
    font-weight: 300;
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);
    padding-left: calc(0.71*28px);
    margin-top: calc(0.71*4px);
    margin-left: calc(0.71*5px);
    background: #E0E0D6;
    border-radius: 10px;
  }

  .filter-tags {
    position: relative;
    width: calc(0.71*1198px);
    height: calc(0.71*184px);
    margin-bottom: calc(0.71*24px);
  }

  .filter-tags span {
    font-weight: 600;
    font-size: calc(0.71*20px);
    line-height: calc(0.71*27px);
  }

  .filter-tags h5 {
    font-size: calc(0.71*15px);
    line-height: calc(0.71*28px);
    color: rgba(27, 31, 59, 0.4);
  }

  .pressed-tags {
    margin-top: calc(0.71*14px);
    display: flex;
    gap: calc(0.71*22px);
  }

  .pressed-tag {

    text-align: center;
    min-width: calc(0.71*80px);
    max-width: calc(0.71*170px);
    font-size: calc(0.71*20px);
    line-height: calc(0.71*177.69%);
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all .2s ease-out;
  }

  .tags-input {
    padding-left: calc(0.71*26px);
  }

  .tags-container {
    position: absolute;
    bottom: 0;
    width: calc(0.71*1198px);
    height: calc(0.71*145px);
    background: #D1E5D2;
    border-radius: 10px;
  }

  .btn-settings {
    position: absolute;
    right: calc(0.71*20px);
    top: calc(0.71*20px);
  }

  .dropdown {
    position: absolute;
    right: calc(0.71*20px);
    top: calc(0.71*40px);
  }

  .dropdown-menu {
    padding-top: calc(0.71*12px);
    padding-left: calc(0.71*12px);
    padding-right: calc(0.71*12px);
    background: #FBFBF5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-out;
  }

  .dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu button:hover {
    opacity: 1;
  }

  .dropdown-link {
    margin-bottom: calc(0.71*12px);
    display: block;
    color: #494C62;
    padding: calc(0.71*11px) calc(0.71*11px);
    opacity: 0.7;

    box-sizing: border-box;
    background: #E0E0D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .photo-container {
    width: calc(0.71*993.76px);
    margin-bottom: calc(0.71*70px);
  }

  .photo {
    gap: calc(0.71*70px);
  }

  .photo .first-photo {
    width: calc(0.71*620.55px);
    height: calc(0.71*364px);
    background: rgba(190, 218, 195, 0.7);
    border-radius: 20px;
  }

  .photo .second-photo,
  .photo .third-photo {
    width: calc(0.71*304px);
    height: calc(0.71*165px);
    margin-bottom: calc(0.71*34px);
  }

  .btn-first-photo {
    width: calc(0.71*620.55px);
    height: calc(0.71*364px);
  }

  .btn-second-photo,
  .btn-third-photo {
    position: absolute;
    width: calc(0.71*304px);
    height: calc(0.71*165px);
  }

  .preview-img1 {
    width: calc(0.71*620.55px);
    height: calc(0.71*364px);
    border-radius: 20px;
  }

  .preview-img2,
  .preview-img3 {
    width: calc(0.71*304px);
    height: calc(0.71*165px);
  }

  .photo-container h1 {
    font-weight: 600;
    font-size: calc(0.71*26px);
    line-height: calc(0.71*35px);
    margin-bottom: calc(0.71*12px);
  }

  .photo-container h2 {
    font-weight: 300;
    font-size: calc(0.71*15px);
    line-height: calc(0.71*20px);
    margin-bottom: calc(0.71*28px);
  }

  .dn {
    display: none;
  }

  .btn-photo {}

  .buttons-submit {
    display: flex;
    gap: calc(0.71*37px);
    margin-bottom: calc(0.71*150px);
  }

  .popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup img {
    width: calc(0.71*555px);
    height: calc(0.71*292px);
  }

  .button-add {
    width: calc(0.71*220px);
    height: calc(0.71*54px);
    background-color: #E0E0D6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
  }

  .button-return {
    width: calc(0.71*220px);
    height: calc(0.71*54px);
    border: 1px solid #EDEDED;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.16));
    border-radius: 10px;
  }



  .filter-labels {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(0.71*16px);
  }

  .filter-conference {
    margin-bottom: calc(0.71*32px);
  }

  .contacts h1 {
    font-weight: 600;
    font-size: calc(0.71*26px);
    line-height: calc(0.71*35px);
    margin-bottom: calc(0.71*30px);
  }


  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: calc(0.71*22px);
    line-height: calc(0.71*30px);
    font-weight: 400;
  }

  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: calc(0.71*22.6px);
    height: calc(0.71*24px);
    margin-right: calc(0.71*19px);
    margin-left: calc(0.71*15px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .red-text {
    font-size: calc(0.71*12px);
    display: inline-block;
    color: red;
    padding-top: calc(0.71*10px);
  }

  .invalid {
    border: 1px #CC0000 solid;
  }

  .description-warning {
    padding-top: calc(0.71*230px);
    padding-left: calc(0.71*10px);
  }
}
